{% load i18n %}
{% with contention=target_object.argument %}

{% if target_object.user and contention %}

{% url "auth_profile" target_object.user.username as auth_profile_url %}
{% blocktrans %}
  <a class="user" href="{{ auth_profile_url }}">
    {{ target_object.user.username }}
  </a>
  başlattığınız argüman
  <a href="{{ contention.get_absolute_url }}" class="contention-link">
    {{ contention.title|truncatechars:50 }}
  </a>
  için bir
  <span class="premise-type {{ target_object.premise_class }}">
    {{ target_object.get_premise_type_display }}
  </span>
  önermesi gönderdi.
{% endblocktrans %}
{% endif %}
{% endwith %}
