{% load gravatar %}
{% load i18n %}

<div class="contention-stats">
	<h2><a href="{% url "contention_detail" object.slug %}">{{ object.title }}</a></h2>
    <div class="stats-bar">
		<span>
			{{ object.contributors|length }} <br/>
			{% trans "KATILIMCI" %}
		</span>
		<span>
			{{ object.because.count }} <br>
			{% trans "ÇÜNKÜ" %}
		</span>
        <span>
			{{ object.but.count }} <br>
			{% trans "AMA" %}
		</span>
    <span>
			{{ object.however.count }} <br>
			{% trans "ANCAK" %}
		</span>
	</div>
</div>
