{% load i18n %}
{% load gravatar %}
<div class="user-stats">
	{% gravatar object.email 90 %}
	<h2><a href="{{ object.get_absolute_url }}">{{ object.username }}</a></h2>
	<div class="stats-bar">
		<span>
			{{ object.followers.count }} <br/>
			{% trans "FOLLOWER" %}
		</span>
		<span>
			{{ object.contention_set.count }} <br>
			{% trans "ARGUMENT" %}
		</span>
		<span>
			{{ object.premise_set.count }} <br>
			{% trans "PREMISE" %}
		</span>
		<span>
			{{ object.supported_premise_count }} <br>
			{% trans "SUPPORT" %}
		</span>
	</div>
</div>