{% load i18n %}
{% load gravatar %}
<div class="user-stats">
	{% gravatar object.user.email 90 %}
	<h2><a href="{{ object.user.get_absolute_url }}">{{ object.user.username }}</a></h2>
	<div class="stats-bar">
		<span>
			{% trans "MEMBER" %}
            <a href="#"  onclick="change_membership('is_active', {{ object.id }})">
            {{ object.is_active }}
            </a>
		</span>
        {% if community.is_restricted %}
		<span>
			{% trans "CREATE ARGUMENT" %}
            <a href="#" onclick="change_membership('can_create_argument', {{ object.id }})">
			{{  object.can_create_argument }}
            </a>

		</span>
		<span>
			{% trans "CREATE PREMISE" %}
            <a href="#" onclick="change_membership('can_create_premise', {{ object.id }})">
			{{ object.can_create_premise }}
            </a>
		</span>
        {% endif %}

	</div>

</div>
{% block extra-scripts %}
<script>
function change_membership(type, object_id){
        $.ajax({
                url: "/communities/memberships",
                type: "POST",
                data: {
                    type: type,
                    membership_id: object_id,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                success: function(){
                    window.location.reload()
                }
                })
}
</script>
{% endblock %}
