{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{ contention.title }}{% endblock %}

{% block extra-meta %}
    <meta property="og:description" content="{{ contention.owner }}"/>
    <meta name="canonical" content="{{ contention.get_full_url }}"/>
{% endblock %}

{% block body-attrs %} id="contention-detail"{% endblock %}

{% block header %}
    <header class="sticky-header">
        <div id="logo" class="contention-logo"><a href="/">argüman<img src="{% static "img/logo.png" %}" /></a></div>

        <nav class="contention-nav">
            <ul>
                <li>
                    {% trans "sender:" %} <a href="{% url "auth_profile" contention.user.username %}">{{ contention.user|lower }}</a>
                </li>
                <li class="original-discourse">
                    {% trans "original discourse:" %}
                    {% if contention.sources or contention.owner %}
                        {{ contention.owner }}
                    {% else %}
                        {% trans "Unspecified" %}
                    {% endif %}
                </li>
            </ul>
        </nav>

        <div class="contention-main-actions">
        {% if edit_mode %}
        <nav class="contention-admin-menu">
            <ul>
                <li><a href="{% url "contention_edit" contention.slug %}">{% trans "Edit" %}</a></li>
                <li>
                    {% if contention.is_published %}
                    <form action="{% url "contention_unpublish" contention.slug %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="{% trans "Unpublish" %}"/>
                    </form>
                    {% else %}
                    <form action="{% url "contention_publish" contention.slug %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="{% trans "Publish" %}"/>
                    </form>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}

         <nav class="contention-nav">
            <ul id="view-switcher">
                <li>{% trans "View" %}</li>
                <li><a id="tree-view-button" href="?" class="tree-view active">{% trans "Tree" %}</a> |
                    <a id="list-view-button" href="?view=list" class="list-view">{% trans "List" %}</a></li>
            </ul>
        </nav>

        <nav class="share contention-nav">
            <ul id="view-switcher">
                <li>{% trans "Share" %}</li>
                <li><a target="_blank" href="https://www.facebook.com/sharer.php?u={{ contention.get_full_url }}" class="tree-view active">Facebook</a> |
                    <a target="_blank" href="http://twitter.com/home?status={{ contention.title }} {{ contention.get_full_url }}" class="list-view">Twitter</a></li>
            </ul>
        </nav>

        </div>

    </header>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}


{% block footer %}{% endblock %}
