{% load i18n %}

{% for contention in contentions %}
    <li>
        <div class="stats">
            <span class="because">
              {{ contention.because.count }} {% trans "çünkü" %}
            </span>
            <span class="but">
              {{ contention.but.count }} {% trans "ama" %}
            </span>
            <span class="however">
              {{ contention.however.count }} {% trans "ancak" %}
            </span>
        </div>
        <div class="info">
            <a class="main-contention" href="{{ contention.get_absolute_url }}">
              {{ contention.title }}
            </a>
            <div class="user">
              {% trans "gönderen" %}:
              <a href="{% url "auth_profile" contention.user.username %}">
                {{ contention.user }}
              </a>
            </div>
        </div>
    </li>
{% endfor %}
