{% extends "base.html" %}
{% load static %}

{% block title %}{{ contention.title }}{% endblock %}

{% block header %}
    <header class="sticky-header">
        <div id="logo"><a href="/"><img src="{% static "img/logo.png" %}" /></a></div>
        {% if edit_mode %}
        <nav class="contention-admin-menu">
            <ul>
                <li><a href="{% url "contention_edit" contention.slug %}">Düzenle</a></li>
                <li>
                    {% if contention.is_published %}
                    <form action="{% url "contention_unpublish" contention.slug %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Yayından kaldır"/>
                    </form>
                    {% else %}
                    <form action="{% url "contention_publish" contention.slug %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Argümanı yayınla"/>
                    </form>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% else %}
        <nav>
            <ul>
                <li>
                    ekleyen: <a href="{% url "auth_profile" contention.user.username %}">{{ contention.user }}</a>
                </li>
                <li>
                    orijinal söylem:
                    {% if contention.sources or contention.owner %}
                    {{ contention.owner }}
                    {# {{ contention.sources|urlize }} #}
                    {% else %}
                     Belirtilmemiş
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}

    {% comment %}
     # Disabled for now; glitches the tree view.
        <nav>
        <ul>
            <li>
                <a href="javascript:void(0)" id="zoomOut">
                    <img src="{% static "img/zoom-out.png" %}">
                    Uzaklaştır
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" id="zoomIn" style="display:none">
                    <img src="{% static "img/zoom-in.png" %}">
                    Yakınlaştır
                </a>
            </li>
        </ul>
        </nav>
    {% endcomment %}

    </header>
{% endblock %}

{% block content %}
    <div id="app">

            <div class="main-contention">
                <div class="main-premise-content">
                {{ contention }}
                <div class="main-contention-actions">
                    {% if user.is_authenticated %}
                    <a class="new-main-premise" href="{% url "new_premise" contention.slug %}">önerme ekle</a>
                    {% endif %}
                </div>
                </div>
            </div>

            <div class="tree">
                <ul>
                    <li>
                        <div class="root"></div>
                        {% with template_name="premises/tree_view.html"%}
                            {% with premises=contention.published_premises.all %}
                                {% include template_name %}
                            {% endwith %}
                        {% endwith %}
                    </li>
                </ul>
            </div>

    </div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">

    arguman.editMode = {{ edit_mode|yesno:"true,false" }};
    arguman.authenticatedUser = {
        "id": {{ user.id|default:"null" }}
    };

    var tree = new arguman.CollapsibleTree({
        "el": ".tree",
        "mainContention": ".main-contention"
    });

    tree.render();

    $(".sticky-header").width(
        Math.max(window.innerWidth, tree.width)
    );

</script>
{% endblock %}


{% block footer %}{% endblock %}
