{% for contention in contentions %}
    <li>
        <div class="stats">
            <span class="because">{{ contention.because.count }} çünkü</span>
            <span class="but">{{ contention.but.count }} ama</span>
            <span class="however">{{ contention.however.count }} ancak</span>
        </div>
        <div class="info">
            <a class="main-contention" href="{{ contention.get_absolute_url }}">
                {{ contention.title }}
            </a>
            <div class="user">gönderen: <a href="{{ contention.user.get_absolute_url }}">
                {{ contention.user }}
            </a></div>
        </div>
    </li>
{% endfor %}
