{% extends "base.html" %}
{% load static %}

{% block title %}{{ contention.title }}{% endblock %}

{% block header %}
    <header class="sticky-header">
        <div id="logo"><a href="/"><img src="{% static "img/logo.png" %}" /></a></div>
        {% if edit_mode %}
        <nav class="contention-admin-menu">
            <ul>
                <li><a href="{% url "contention_edit" contention.slug %}">Düzenle</a></li>
                <li>
                    {% if contention.is_published %}
                    <form action="{% url "contention_unpublish" contention.slug %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Yayından kaldır"/>
                    </form>
                    {% else %}
                    <form action="{% url "contention_publish" contention.slug %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Argümanı yayınla"/>
                    </form>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% else %}
        <nav>
            <ul>
                <li>
                    ekleyen: <a href="{% url "auth_profile" contention.user.username %}">{{ contention.user }}</a>
                </li>
                <li>
                    orijinal söylem:
                    {% if contention.sources or contention.owner %}
                    {{ contention.owner }}
                    {# {{ contention.sources|urlize }} #}
                    {% else %}
                     Belirtilmemiş
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}
    </header>
{% endblock %}

{% block content %}
    <!-- templates -->
    <script id="main-contention-template" type="text/template">
        <div class="main-premise-content">
            <%= marked(name) %>
        </div>
        <div class="main-contention-actions">
            {% if user.is_authenticated %}
            <a class="new-premise" href="{% url "new_premise" contention.slug %}">önerme ekle</a>
            {% endif %}
        </div>
    </script>

    <script id="premise-template" type="text/template">
        <div class="premise-type <%= premise_type %>">
            <%= {"but": "ama", "because": "çünkü", "however": "ancak"}[premise_type] %>
        </div>
        <div class="premise-content <%= premise_type %>">
            <%= marked(name) %>
        </div>
        <div class="premise-sources">
        <% if (sources) { %>
        <strong>kaynaklar:</strong>
        <%= marked(sources) %>
        <% } %>
        <strong>gönderen:</strong>
        <p><a href="<%= user.absolute_url %>"><%= user.username %></a></p>
        </div>
        <% if (editMode || authenticatedUser.id == user.id ) { %>
        <div class="premise-actions">
            <a href="{{ path }}/premises/<%= pk %>/new">önerme ekle</a>
            <a href="{{ path }}/premises/<%= pk %>">düzenle</a>
            <form action="{{ path }}/premises/<%= pk %>/delete" method="post">
                {% csrf_token %}
                <input type="submit" value="sil" class="delete_premise"/>
            </form>
        </div>
        <% } else { %>
            <% if (authenticatedUser.id) { %>
                <div class="premise-actions">
                <a href="{{ path }}/premises/<%= pk %>/new">önerme gönder</a>
                </div>
            <% } %>
        <% } %>
    </script>

    <div id="app"></div>
    <div class="story" id="contention-story">
        <!--
            Simplified version (just an unordered list)
            Does not affects the interactive map.
            It was done for by crawlers and browsers which disabled javascript.
        -->
        <ul class="main-contention">
            <li>
                <div class="premise {{ premise.premise_class }}">
                    <div class="contention premise-content">
                    {{ contention.title }}
                </div>
                {% if user.is_authenticated %}
                    <div class="contention-actions">
                    <form action="{% url "new_premise" contention.slug %}" method="get">
                    <input type="submit" value="önerme ekle"/>
                    </form>
                </div>
                {% endif %}
                </div>
                <ul class="tree">
                    {% for premise in contention.published_premises.all %}
                    <li class="base-premise">
                        <div class="premise {{ premise.premise_class }}">
                            <div class="premise-content">
                                {{ premise.text }}
                            </div>
                        </div>
                        {% if premise.children.exists %}
                            {% with template_name="premises/tree_view.html" %}
                                {% include template_name %}
                            {% endwith %}
                        {% endif %}
                    </li>
                    {% empty %}
                    <li class="new-premise">Henüz hiç ama'sı ya da çünkü'sü yok</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        <!-- End of simplified version -->
    </div>
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript">

    arguman.editMode = {{ edit_mode|yesno:"true,false" }};
    arguman.authenticatedUser = {
        "id": {{ user.id }}
    };

    $.getJSON(location.href + ".json", function (response) {

        var app = new arguman.Map({
            model: response.nodes,
            container: "#app",
            isSingular: response.nodes.is_singular
        });

        app.contention.onRender(function () {
            $(".sticky-header, footer").width(Math.max(
                    app.canvas.domElement.width,
                    window.innerWidth
            ));
        });

        app.render();

    });
</script>
{% endblock %}


{% block footer %}{% endblock %}
