{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <section class="container new-premise">
        {% ifnotequal contention.user user %}
            <div class="form-info">
            {% blocktrans %}
              Göndereceğiniz önerme direkt olarak yayına alınacaktır,
              ancak yayında kalacağının garantisi yoktur. <a href="{% url "tos" %}">Kullanım Koşullarına</a> uygun görülmeyen
              içerikler moderatörler tarafından yayından kaldırılacaktır.
            {% endblocktrans %}
            </div>
        {% endifnotequal %}
        <form action="?" method="post">
            {% if parent %}
                <div class="parent-premise">
                    <strong>{% trans "Ekleyeceğiniz önermenin öncülü" %}:</strong>
                    <p>{{ parent.text }}</p>
                </div>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans "Kaydet ve düzenlemeye devam et" %}" class="submit">
        </form>
    </section>
{% endblock %}

{% block extra-scripts %}
    <script type="text/javascript">
    $(function () {
        var textarea = $("#id_text"),
            container = $("<div>", {
                "class": "remained-char"
            }).appendTo(textarea.parent())
              .html("{% trans "Kalan karakter sayısı" %}: "),
            remained = $("<span>").appendTo(container);
        var update = function (event) {
            var max = parseInt(textarea.attr("maxlength")),
                _remained = max - textarea.val().length;
            remained.html(_remained);
        };
        textarea.keyup(update);
        update();
    });
    </script>
{% endblock %}
