{% extends 'base.html' %}

{% block content %}
    <section class="container">
        {% ifnotequal contention.user user %}
            <div class="form-info">
                Göndereceğiniz önerme argümanın sahibi tarafından
                onaylandıktan sonra yayına alınacaktır.
            </div>
        {% endifnotequal %}
        <form action="?" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Kaydet ve düzenlemeye devam et" class="submit">
        </form>
    </section>
{% endblock %}