{% load i18n %}
{% load humanize %}
<div class="premise tree-node">
    <div class="premise-type {{ premise.premise_class }}">
        {{ premise.premise_type_label }}
    </div>

    <div class="premise-content {{ premise.premise_class }}">
        {{ premise.formatted_text|safe }}
    </div>

    <div class="premise-sources">
        {% if premise.sources %}
            <strong>{% trans "sources:" %}</strong>
            <p class="links">{{ premise.sources|urlize }}</p>
        {% endif %}
        <div class="premise-user">
            <strong>{% trans "sender:" %}</strong>

            <p><a href="{% url "auth_profile" premise.user.username %}">
                {{ premise.user.username|lower }}</a></p>

            <p class="time-ago">
                <a href="#{{ premise.id }}">
                    <time datetime="{{ premise.date_creation }}">{{ premise.date_creation|naturaltime }}</time>
                </a>
            </p>
        </div>

        {% if premise.fallacies %}
            <div class="reported_as_fallacy">
                {% blocktrans trimmed with count=premise.fallacy_count %}
                    {{ count }} fallacy reported.
                {% endblocktrans %}
                {% if premise.fallacies %}
                    {% for fallacy in premise.fallacies %}
                        <div class="fallacy">
                            {{ fallacy.label }}
                            {% if fallacy.reported_by_authenticated_user %}
                            <form action="{% url "unreport_premise" serialized.slug premise.id %}?type={{ fallacy.type }}"
                                  method="post">
                                {% csrf_token %}
                                <input type="submit"
                                       value="({% trans "undo" %})" />
                            </form>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        {% if premise.recent_supporters %}
            <div class="supporters">
                {% blocktrans trimmed with count=premise.supporter_count %}
                    {{ count }} supporter.
                {% endblocktrans %}
                <div class="supporter-list">
                    {% for supporter in premise.recent_supporters %}{% if not forloop.first %}, {% endif %}
                        <a href="{{ supporter.get_absolute_url }}">{{ supporter.username|lower }}</a>{% endfor %}
                    {% if premise.supporter_count > 5 %}
                        {% trans "and others." %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>

    {% if user.is_authenticated %}
        <div class="premise-actions">
            <a class="premise-action" href="{% url "insert_premise" serialized.slug premise.id %}">{% trans "add premise" %}</a>
            
            {% if user.id == premise.user.id %}
                <a class="premise-action" href="{% url "edit_premise" serialized.slug premise.id %}">{% trans "edit" %}</a>
                <form class="premise-action" action="{% url "delete_premise" serialized.slug premise.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="{% trans "remove" %}"
                           onclick="return confirm('{% trans "Are you sure to remove this premise?" %}');"
                           class="delete_premise"/>
                </form>
            {% endif %}

            {% if premise.user.id != user.id %}
                {% if premise.supported_by_authenticated_user %}
                    <form class="support premise-action" action="{% url "unsupport_premise" serialized.slug premise.id %}"
                          method="post" data-contention-pk="{{ serialized.id }}" data-premise-pk="{{ premise.id }}" data-action="DELETE" data-label-support="{% trans "support" %}" data-label-undo="{% trans "undo" %}">
                        {% csrf_token %}
                        <input type="submit" value="{% trans "undo" %}"/>
                    </form>
                {% else %}
                    <form class="support premise-action" action="{% url "support_premise" serialized.slug premise.id %}"
                          method="post" data-contention-pk="{{ serialized.id }}" data-premise-pk="{{ premise.id }}" data-action="POST" data-label-support="{% trans "support" %}" data-label-undo="{% trans "undo" %}">
                        {% csrf_token %}
                        <input type="submit" value="{% trans "support" %}"/>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        <div class="report">
            <a href="{% url 'report_premise' serialized.slug premise.id %}">{% trans "report fallacy" %}</a>
        </div>
    {% endif %}

</div>
