{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="container">
        <form action="?" method="post">
            <label>{% trans "Safsata bildirimi yapacağınız önerme" %}:</label>
            <div class="fallacy-premise">
                <p>{{ premise.text }}</p>
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans "Safsatayı Bildir" %}" class="submit">
        </form>
    </section>
{% endblock %}
