{% load i18n %}
{% load humanize %}
<ul class="premise-list">
    {% for premise in premises %}
        <li class="child-premise premise-item">
            <div class="premise">
                <div class="premise-type {{ premise.premise_class }}">
                    {{ premise.get_premise_type_display }}
                </div>

                <div class="premise-content {{ premise.premise_class }}">
                    {{ premise.formatted_text|safe }}
                </div>

                <div class="premise-sources">
                    {% if premise.sources %}
                    <strong>{% trans "sources:" %}</strong>
                    <p>{{ premise.sources|urlize }}</p>
                    {% endif %}
                    <div class="premise-user">
                      <strong>{% trans "sender:" %}</strong>
                      <p><a href="{% url "auth_profile" premise.user.username %}">
                          {{ premise.user }}</a></p>
                      <p class="time-ago"><time datetime="{{ premise.date_creation }}">({{ premise.date_creation|naturalday }})</time></p>
                    </div>


                    {% if premise.reports.exists %}
                        <div class="reported_as_fallacy">
                        {% blocktrans with count=premise.reports.count %}
                             {{ count }} fallacy reported.
                        {% endblocktrans %}
                        {% if premise.fallacies %}
                            {% for fallacy in premise.fallacies %}
                            <div class="fallacy">{{ fallacy }}</div>
                            {% endfor %}
                        {% endif %}

                        </div>
                    {% endif %}

                    {% if premise.supporters.exists %}
                        <div class="supporters">
                        {% blocktrans with count=premise.supporters.count %}
                            {{ count }} supporter.
                        {% endblocktrans %}
                        <div class="supporter-list">
                        {% for supporter in premise.recent_supporters %}{% if not forloop.first %}, {% endif %}
                        <a href="{% url "auth_profile" supporter.username %}">{{ supporter.username }}</a>{% endfor %}
                        {% if premise.supporters.count > 5 %}
                        {% trans "and others." %}
                        {% endif %}
                        </div>
                        </div>
                    {% endif %}
                </div>

                {% if user.is_authenticated %}
                    <div class="premise-actions">
                {% if user == premise.user %}
                        <a href="{% url "edit_premise" contention.slug premise.pk %}">{% trans "edit" %}</a>
                        <form action="{% url "delete_premise" contention.slug premise.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="{% trans "remove" %}"
                                   onclick="return confirm('{% trans "Are you sure to remove this premise?" %}');"
                                   class="delete_premise"/>
                        </form>
                {% endif %}

                {% if user.is_authenticated %}
                    <a href="{% url "insert_premise" contention.slug premise.pk %}">{% trans "add premise" %}</a>
                    {% if premise.user != user %}
                        {% if user in premise.supporters.all %}
                        <form class="support" action="{% url "unsupport_premise" contention.slug premise.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="{% trans "undo" %}"/>
                        </form>
                        {% else %}
                        <form class="support" action="{% url "support_premise" contention.slug premise.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="{% trans "support" %}"/>
                        </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
                </div>
                    <div class="report">
                        <a href="{% url 'report_premise' contention.slug premise.pk %}">{% trans "report fallacy" %}</a>
                    </div>
                {% endif %}

            </div>
            {% if premise.children.exists %}
                {% with template_name="premises/tree_view.html" premises=premise.published_children %}
                    {% include template_name %}
                {% endwith %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
