<ul>
    {% for premise in premise.published_children.all %}
        <li>
            <div class="premise {{ premise.premise_class }}">
                <div class="premise-content">
                    {{ premise.text }}
                </div>
            </div>
            {% if premise.children.exists %}
                {% with template_name="premises/tree_view.html" %}
                    {% include template_name %}
                {% endwith %}
            {% endif %}
        </li>
    {% endfor %}
</ul>