{% extends "premises/base_contention.html" %}
{% load i18n %}
{% load static %}


{% block content %}
    <div id="keyboard-manager-info">
        <span class="keys">
            <span class="left">←</span>
            <span class="up-down">↑<br />↓</span>
            <span class="right">→</span>
        </span>
        <p>{% trans "You can use arrow keys to navigate in the map." %}</p>
    </div>
    <div id="app" class="tree-view">
        <div class="tree-contention">
            <h3>{{ contention }}</h3>
        </div>
        <div class="tree-contention-actions">
            {% if user.is_authenticated %}
            <a class="new-main-premise" 
               href="{% url "new_premise" contention.slug %}">
                    {% trans "add premise" %}
            </a>
            {% endif %}
        </div>
        <div class="root">
            <div class="connector root-connector"></div>
        </div>
        <div class="tree-container">
            {% with premises=serialized.premises level=1 %}
                {% include "premises/tree.html" %}
            {% endwith %}
        </div>

    </div>

    <div id="list-view-indicator" class="tooltip">
        <button class="close">×</button>
        {% blocktrans trimmed %}
        The argument is too complex. You can switch to list view.
        {% endblocktrans %}
    </div>

    {% if user.is_anonymous %}
    {% include "auth/login_popup.html" %}
    {% endif %}
{% endblock %}

{% block extra-scripts %}
<script type="text/javascript" src="{% static "js/lib/html2canvas.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/jquery.pep.js" %}"></script>
<script type="text/javascript">
    arguman.editMode = {{ edit_mode|yesno:"true,false" }};
    arguman.authenticatedUser = {
        "id": {{ user.id|default:"null" }}
    };

    var treeView = new arguman.Tree();

    treeView.render();

    (new arguman.KeyboardManager({
        el: "#app",
        info: "#keyboard-manager-info",
        treeView: treeView
    })).render();
    
    (new arguman.DraggablePage()).render();
</script>
{% endblock %}


{% block footer %}{% endblock %}
