{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <form id="login-form" action="{% url "auth_login" %}?next={{ next }}" method="post">
            {% include "profiles/social_providers.html" %}
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-footer">
                <input type="submit" class="submit" value="Giriş">
                <br/>
                <a class="reset-password-link" href="{% url "password_reset" %}">Şifremi Unuttum!</a>
            </div>
        </form>
    </section>
{% endblock %}
