{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="container">
        <form id="auth-form" action="{% url "auth_login" %}?next={{ next }}" method="post">
            <h3>{% trans "Login" %}(<a href="{% url "socialauth_begin" "twitter" %}">{% trans "or login with twitter" %}</a>)</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-footer">
                <input type="submit" value="{% trans "Login" %}">
                <ul class="form-actions">
                    <li>
                        <a href="{% url "password_reset" %}">{% trans "Forgot your password?" %}</a>
                    </li>
                </ul>
            </div>
        </form>
    </section>
{% endblock %}
