{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<section class="container">
  {% if validlink %}
    <h1>{% trans "iki kez yeni şifrenizi giriniz." %}</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.new_password1.errors }}
      <p class="aligned wide">
        <label for="id_new_password1">{% trans "Yeni Şifre" %}</label>
        {{ form.new_password1 }}
      </p>
      {{ form.new_password2.errors }}
      <p class="aligned wide">
        <label for="id_new_password2">{% trans "Yeni Şifre Tekrar" %}</label>
        {{ form.new_password2 }}
      </p>
      <p>
      <input type="submit" class="submit" value="{% trans "Şifremi Değiştir" %}" /></p>
    </form>
  {% else %}
    <p>
      {% trans "Şifre sıfırlama linki geçersiz veya daha önce kullanılmış olabilir." %}
    </p>
  {% endif %}
</section>
{% endblock %}
