{% extends 'base.html' %}

{% block content %}
<section class="container">
  {% if validlink %}
    <h1>iki kez yeni şifrenizi giriniz.</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.new_password1.errors }}
      <p class="aligned wide">
        <label for="id_new_password1">Yeni Şifre</label>
        {{ form.new_password1 }}
      </p>
      {{ form.new_password2.errors }}
      <p class="aligned wide">
        <label for="id_new_password2">Yeni Şifre Tekrar</label>
        {{ form.new_password2 }}
      </p>
      <p>
      <input type="submit" class="submit" value="Şifremi Değiştir" /></p>
    </form>
  {% else %}
    <p>
      Şifre sıfırlama linki geçersiz veya daha önce kullanılmış olabilir.
    </p>
  {% endif %}
</section>
{% endblock %}
