{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<section class="container">
  {% if validlink %}
    <h1>{% trans "Enter your password" %}</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.new_password1.errors }}
      <p class="aligned wide">
        <label for="id_new_password1">{% trans "New password" %}</label>
        {{ form.new_password1 }}
      </p>
      {{ form.new_password2.errors }}
      <p class="aligned wide">
        <label for="id_new_password2">{% trans "New password (again)" %}</label>
        {{ form.new_password2 }}
      </p>
      <p>
      <input type="submit" class="submit" value="{% trans "Change my password" %}" /></p>
    </form>
  {% else %}
    <p>
      {% trans "Invalid password reset url." %}
    </p>
  {% endif %}
</section>
{% endblock %}
