{% extends "base.html" %}
{% load i18n %}
{% load gravatar %}
{% load humanize %}


{% block content %}
    <div class="container user-profile">
        <aside>
            <h3>{{ profile.username }}</h3>
            <a class="gravatar profile-image" href="{{ profile.get_absolute_url }}">
                {% gravatar profile 120 %}
            </a>
            {% ifequal profile user %}
            <a class="profile-update-button" href="{% url "auth_profile_update" %}">({% trans "update" %})</a>
            {% endifequal %}
            {% if not user.is_anonymous and can_follow %}
            <nav class="actions">
                {% if is_followed %}
                    <a href="{% url "api-profile-follow" profile.username %}" class="anchor unfollow" data-method="delete">{% trans "Unfollow" %}</a>
                {% else %}
                    <a href="{% url "api-profile-follow" profile.username %}" class="anchor follow" data-method="post">{% trans "Follow" %}</a>
                {% endif %}
            </nav>
            {% endif %}
        </aside>

        <div class="user-detail">
            <div class="stats-bar">
                <span>
                    {{ object.followers.count }} <br/>
                    {% trans "FOLLOWER" %}
                </span>
                <span>
                    {{ object.contention_set.count }} <br>
                    {% trans "ARGUMENT" %}
                </span>
                <span>
                    {{ object.user_premises.count }} <br>
                    {% trans "PREMISE" %}
                </span>
                <span>
                    {{ object.karma }} <br>
                    {% trans "KARMA" %}
                </span>
            </div>

        <h3>{% trans "Newsfeed" %}:</h3>

         <div class="newsfeed-container">
            {% for entry in news_entries %}
              <div class="news-item {{ entry.entry_class }}">
                <div class="news-item-content--no-arrow">
                    {{ entry.render }}
                    <time datetime="{{ entry.date_created }}">{{ entry.date_created|naturaltime }}</time>
                </div>
             </div>
            {% empty %}
                <p class="empty-newsfeed">{% trans "The feed seems to empty." %}</p>
            {% endfor %}
        {% if has_next_page %}
            <div class="load-more">
                <a class="next" href="{{ next_page_url }}">{% trans "Load more" %}</a>
            </div>
        {% endif %}
        </div>



        </div>
    </div>
{% endblock %}

{% block extra-scripts %}
    {{ block.super }}
    {% include "infinity-pagination.html" %}
    <script type="text/javascript">
        $(function () {
            $("nav.actions a").each(function () {
                $(this).click(function () {
                    $.ajax({
                        url: $(this).attr("href"),
                        type: $(this).data("method"),
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        }
                    }).complete(function () {
                        window.location.reload()
                    }.bind(this));
                    return false;
                });
            });
        });
    </script>
{% endblock %}
