{% extends "base.html" %}
{% load gravatar document_tags %}

{% block body-id %}profile-detail{% endblock %}

{% block content %}
    <div id="profile" class="content">
        <aside>
            <h3>{{ profile.username }}</h3>
            <a class="gravatar profile-image" href="{% url auth_profile profile.username %}">
                <img alt="gravatar of {{ profile.username }}" width="160" height="160" src="{% gravatar_for_user profile 160 %}">
            </a>

            {% if can_follow %}
            <nav class="actions">
                {% if is_followed %}
                    <a href="{% url auth_profile profile.username %}" class="anchor unfollow" data-method="delete">Unfollow</a>
                {% else %}
                    <a href="{% url auth_profile profile.username %}" class="anchor follow" data-method="post">Follow</a>
                {% endif %}
            </nav>
            {% endif %}

            <h2>following ({{ profile.following.count }})</h2>
            <ul class="following">
                {% for relationship in profile.following.all %}
                    <li>
                        <a href="{% url auth_profile relationship.following.username %}">
                        <img alt="{{ profile.username }} following {{ relationship.following }}"
                             src="{% gravatar_for_user relationship.following 40 %}">
                        </a>
                    </li>
                {% empty %}
                    <li class="empty">{{ profile }} is not following anyone.</li>
                {% endfor %}
            </ul>

            <h2>followers ({{ profile.followers.count }})</h2>
            <ul class="following">
                {% for relationship in profile.followers.all %}
                    <li>
                        <a href="{% url auth_profile relationship.follower.username %}">
                            <img alt="{{ relationship.follower }} following {{ profile.username }}"
                                 src="{% gravatar_for_user relationship.follower 40 %}">
                        </a>
                    </li>
                {% empty %}
                    <li class="empty">{{ profile }} has no follower.</li>
                {% endfor %}
            </ul>
        </aside>
        <section class="documents">
            <h2>Documents</h2>
            <ul>
                {% for document in documents %}
                    <li>
                        <a href="{{ document.get_absolute_url }}">{{ document.title }}</a>
                        <div class="info">
                            <span class="icon fork">{{ document.get_fork_count }} fork</span>
                            <span class="icon star">{{ document.star_count }} star</span>
                        </div>
                    </li>
                {% empty %}
                    <li>{{ profile }} does not have any pattern yet.</li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            $("nav.actions a").each(function () {
                $(this).click(function () {
                    $.ajax({
                        url: $(this).attr("href"),
                        type: $(this).data("method"),
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        }
                    }).complete(function () {
                        window.location.reload()
                    }.bind(this));
                    return false;
                });
            });
        });
    </script>
{% endblock %}