{% extends "base.html" %}
{% load gravatar %}

{% block content %}
    <div class="container user-profile">
        <aside>
            <h3>{{ profile.username }}</h3>
            <a class="gravatar profile-image" href="{% url "auth_profile" profile.username %}">
                {% gravatar profile 160 %}
            </a>

            {% if can_follow %}
            <nav class="actions">
                {% if is_followed %}
                    <a href="{% url "auth_profile" profile.username %}" class="anchor unfollow" data-method="delete">Takibi bırak</a>
                {% else %}
                    <a href="{% url "auth_profile" profile.username %}" class="anchor follow" data-method="post">Takip et</a>
                {% endif %}
                <p></p>
                {% if not is_reported %}
                    <a href="" style="background:#8b0000" class="report" onclick="report(this)" data-profile="{{profile.id}}"> Sikayet et</a>
                {% else%}
                    <a href="" style="background:darkslateblue"" class="report" data-profile="{{profile.id}}"> Sikayet edildi</a>
                {% endif %}

            </nav>
            {% endif %}
        </aside>

        <div class="user-detail">
                  <section class="user-contentions">
                <h2>Katkıda bulunduğu argümanlar</h2>
                <ul>
                    {% for contention in contentions %}
                        <li>
                            <a href="{{ contention.get_absolute_url }}">{{ contention.title }}</a>
                        </li>
                    {% empty %}
                        <li>hiç katkıda bulunduğu bir argüman yok.</li>
                    {% endfor %}
                </ul>
            </section>

            <h2>Takip ettikleri ({{ profile.following.count }})</h2>
            <ul class="following">
                {% for followee in profile.following.all %}
                    <li>
                        <a href="{% url "auth_profile" followee.username %}">
                        {% gravatar followee 40 %}
                        </a>
                    </li>
                {% empty %}
                    <li class="empty">Kimseyi takip etmiyor.</li>
                {% endfor %}
            </ul>

            <h2>Takipçileri ({{ profile.followers.count }})</h2>
            <ul class="following">
                {% for follower in profile.followers.all %}
                    <li>
                        <a href="{% url "auth_profile" follower.username %}">
                            {% gravatar follower 40 %}
                        </a>
                    </li>
                {% empty %}
                    <li class="empty">{{ profile }} hiç takipçiye sahip değil.</li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}

{% block extra-scripts %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            $("nav.actions a").each(function () {
                $(this).click(function () {
                    $.ajax({
                        url: $(this).attr("href"),
                        type: $(this).data("method"),
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        }
                    }).complete(function () {
                        window.location.reload()
                    }.bind(this));
                    return false;
                });
            });
        });
    var  report = function (that) {
                    $.ajax({
                        url: '/report',
                        type: 'POST',
                        data: {'user': $(that).data('profile')},
                        beforeSend: function(xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        }
                    }).complete(function () {
                        window.location.reload()
                    }.bind(this))}
    </script>

{% endblock %}