{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <section class="container">
        <form id="auth-form" action="{% url "auth_registration" %}" method="post">
            <h3>{% trans "Register" %}(<a href="{% url "socialauth_begin" "twitter" %}">{% trans "or login with twitter" %}</a>)</h3>
            {% csrf_token %}
            {{ form.as_p }}
            <ul class="form-actions">
            <li>
                {% blocktrans trimmed %}
                You can update your profile picture on <a href="http://gravatar.com">gravatar.com</a>.
                {% endblocktrans %}
            </li>
            </ul>
            <input type="submit" value="{% trans "Register" %}">
        </form>
    </section>
{% endblock %}