{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <form action="{% url "auth_registration" %}" method="post">
            {% include "profiles/social_providers.html" %}
            <h2>Kayıt ol</h2>
            {% csrf_token %}
            {{ form.as_p }}
            Bu siteyi kullanarak <a href="/tos">Kullanım Koşulları</a>'nı kabul etmiş olursunuz.
            <br />
            <input type="submit" value="Siteye Üye ol" class="submit">
        </form>
    </section>
{% endblock %}