{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <section class="container">
        <form action="{% url "auth_profile_update" %}" method="post">
            <h2>{% trans "Bilgilerim" %}</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <p class="helptext">
              {% blocktrans %}
                Avatar yüklemek için <a target="_blank" href="//gravatar.com">gravatar.com</a>
                adresini kullanabilirsiniz.
              {% endblocktrans %}
            </p>
            <input type="submit" value="{% trans "Güncelle" %}" class="submit">
        </form>
    </section>
{% endblock %}
