{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container about content">
    <h1>{% trans "Söz konusu sayfayı bulamadık." %}</h1>
    <p>
      {% trans "Ancak yine de aradıgınız şeyi bulmanız için size yardımcı olabiliriz." %}
    </p>

    <form action="{% url "contentions_search" %}" class="search-form" style="padding: 0px">
        <label for="id_q">{% trans "Kelime:" %}</label>
        <input type="text" class="searchfield" style="width: 370px" name="keywords" />
        </br></br>
        <a href="{{ request.get_full_path }}" class="submit">{% trans "Tekrar Dene" %}</a> |
        <a href='{% url "home" %}' class="submit">{% trans "Anasayfaya Git" %}</a>
    </form>
</div>
{% endblock %}
