{% extends "base.html" %}

{% load i18n %}
{% block header %}
{% endblock %}

{% block content %}
<div class="container about content">
    <h2>{% trans "Maalesef! Beklenmeyen bir sorun oluştu." %}</h2>
    <p>
      <a href="{{ request.get_full_path }}" class="submit">{% trans "Tekrar Dene" %}</a> |
      <a href="https://github.com/arguman/arguman.org/issues/" class="submit">{% trans "Hata Olarak Bildir" %}</a> |
      <a href="{% url "home" %}" class="submit">{% trans "Anasayfaya Dön" %}</a> |
    </p>
</div>
{% endblock %}
