<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Argüman Analizi Platformu{% endblock %}</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/h5bp.css" %}" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}" />
</head>
<body>
{% block header %}
<header class="container">
    <div id="logo">
        <a href="/"><img src="{% static "img/logo.png" %}" alt=""/></a>
    </div>
    <nav>
        <ul>
            <li><a href="#">nedir?</a></li>
            {% if user.is_anonymous %}
            <li><a href="{% url "auth_registration" %}">kayıt ol</a></li>
            <li><a href="{% url "auth_login" %}">giriş yap</a></li>
            {% else %}
            <li><a href="{% url "new_argument" %}"><strong>argüman gönder</strong></a></li>
            <li><a href="{% url "auth_logout" %}">çıkış yap ({{ user }})</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
{% endblock %}
<script type="text/javascript" src="{% static "js/lib/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/class.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
{% block extra-scripts %}{% endblock %}
</body>
</html>