<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Argüman Analizi Platformu{% endblock %}</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/h5bp.css" %}" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/main.css" %}?v=1.9" />
</head>
<body>
{% block header %}
<header class="container">
    <div id="logo">
        <a href="{% if user.is_anonymous %}/{% else %}{% url "newsfeed" %}{% endif %}">
            <img src="{% static "img/logo.png" %}" alt=""/></a>
    </div>
    <nav>
        <ul id="main-navigation">
            <li><a href="{% url "about" %}">nedir?</a></li>
            {% if user.is_anonymous %}
            <li><a href="{% url "auth_registration" %}">kayıt ol</a></li>
            <li><a href="{% url "auth_login" %}">giriş yap</a></li>
            {% else %}
            <li><a href="{% url "new_argument" %}"><strong>argüman gönder</strong></a></li>
            <li>
              <a href="{% url "auth_profile" user.username %}">{{ user }}</a>
              <a href="{% url "auth_logout" %}">(çıkış yap)</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
<footer>
    <div class="container">
        <p>Arguman.org henüz geliştirilme aşamasındadır. Ancak bu platformu kullanamayacağınız anlamına gelmiyor.</p>
    <p><a href="/tos">Kullanım Koşulları</a> | <a href="https://github.com/fatiherikli/arguman.org/issues">Öneri ve şikayet</a></p>
    </div>
</footer>
{% endblock %}
<script type="text/javascript" src="{% static "js/lib/jquery-1.10.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/class.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/underscore-template.js" %}"></script>
<script type="text/javascript" src="{% static "js/lib/hipo.infinity-scroll.js" %}"></script>
<script type="text/javascript" src="{% static "js/main.js" %}"></script>
{% block extra-scripts %}{% endblock %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55983865-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
