{% extends "base.html" %}

{% load i18n %}
{% load humanize %}

{% block content %}
    <div class="container home">
        {% include "home.html" %}
        {% include "tabs.html" %}
        {% block tab_content %}
        {% include "premises/contention_list.html" %}
        {% endblock %}
    </div>
{% endblock %}

{% block extra-scripts %}
{% include "infinity-pagination.html" %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter\
.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% endblock %}
