{% extends "index.html" %}
{% load i18n %}

{% block tab_content %}

<div class="stats-content">
    <h2>Search</h2>
    <div class="stats-list">

        <ul class="time-filter">
            <li{% if request.GET.type == 'contentions' or not request.GET.type %} class="active"{% endif %}><a href="?keywords={{ request.keywords }}&type=contentions">{% trans "contentions" %}</a></li>
            <li{% if request.GET.type == 'users' %} class="active"{% endif %}><a href="?keywords={{ request.keywords }}&type=users">{% trans "users" %}</a></li>
        </ul>
    {% if request.GET.type == 'users' %}
        {% for item in users %}
            <div class="stat-item">
                {% with object=item.object %}
                    {% include item.template %}
                {% endwith %}
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock %}

{% block extra-scripts %}

{% endblock %}