{% extends "index.html" %}

{% block tab_content %}

<div class="stats-content">
    <h2>İstatistikler</h2>
    <div class="stats-sidebar">
        <ul>
            <li{% if stats_type == "active_users" %} class="active"{% endif %}><a href="?what=active_users">en katılımcı üyeler</a></li>
            <li{% if stats_type == "supported_users" %} class="active"{% endif %}><a href="?what=supported_users">en desteklenen üyeler</a></li>
            <!--<li{% if stats_type == "disgraced_users" %} class="active"{% endif %}><a href="?what=disgraced_users">en yüz karası üyeler</a></li>-->
            <li{% if stats_type == "crowded_contentions" %} class="active"{% endif %}><a href="?what=crowded_contentions">en kalabalık argümanlar</a></li>
            <li{% if stats_type == "supported_premises" %} class="active"{% endif %}><a href="?what=supported_premises">en çok desteklenen önermeler</a></li>
            <li{% if stats_type == "fallacy_premises" %} class="active"{% endif %}><a href="?what=fallacy_premises">en safsata önermeler</a></li>
        </ul>
    </div>
    <div class="stats-list">
        <ul class="time-filter">
            <li{% if days == 7 %} class="active"{% endif %}><a href="?what={{ stats_type }}&days=7">bu hafta</a></li>
            <li{% if days == 30 %} class="active"{% endif %}><a href="?what={{ stats_type }}&days=30">bu ay</a></li>
            <li{% if not days %} class="active"{% endif %}><a href="?what={{ stats_type }}&days=all">tüm zamanlar</a></li>
        </ul>
        {% for item in stats %}
            <div class="stat-item">
                {% with object=item.object %}
                    {% include item.template %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra-scripts %}

{% endblock %}