{% extends "index.html" %}

{% load i18n %}

{% block tab_content %}

<div class="stats-content">
    <h2>İstatistikler</h2>
    <div class="stats-sidebar">
        <ul>
            <li{% if stats_type == "active_users" %} class="active"{% endif %}>
              <a href="?what=active_users">{% trans "en katılımcı üyeler" %}</a>
            </li>
            <li{% if stats_type == "supported_users" %} class="active"{% endif %}>
              <a href="?what=supported_users">{% trans "en desteklenen üyeler" %}</a>
            </li>
            <li{% if stats_type == "crowded_contentions" %} class="active"{% endif %}>
              <a href="?what=crowded_contentions">{% trans "en kalabalık argümanlar" %}</a>
            </li>
            <li{% if stats_type == "supported_premises" %} class="active"{% endif %}>
              <a href="?what=supported_premises">{% trans "en çok desteklenen önermeler" %}</a>
            </li>
            <li{% if stats_type == "fallacy_premises" %} class="active"{% endif %}>
              <a href="?what=fallacy_premises">{% trans "en safsata önermeler" %}</a>
            </li>
        </ul>
    </div>
    <div class="stats-list">
        <ul class="time-filter">
            <li{% if days == 7 %} class="active"{% endif %}>
              <a href="?what={{ stats_type }}&days=7">{% trans "bu hafta" %}</a>
            </li>
            <li{% if days == 30 %} class="active"{% endif %}>
              <a href="?what={{ stats_type }}&days=30">{% trans "bu ay" %}</a>
            </li>
            <li{% if not days %} class="active"{% endif %}>
              <a href="?what={{ stats_type }}&days=all">{% trans "tüm zamanlar" %}</a>
            </li>
        </ul>
        {% for item in stats %}
            <div class="stat-item">
                {% with object=item.object %}
                    {% include item.template %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block extra-scripts %}

{% endblock %}
