{% load i18n %}
<ul class="tabs">
    {% if not community %}
    <li class="newsfeed{% ifequal tab_class "newsfeed" %} active{% endifequal %}">
        <a href="{% url "newsfeed" %}">{% trans "Newsfeed" %}</a></li>
    {% endif %}
    <li class="featured{% ifequal tab_class "featured" %} active{% endifequal %}">
        <a href="/">{% trans "Featured" %}</a></li>
    <li class="news{% ifequal tab_class "news" %} active{% endifequal %}">
        <a href="{% url "contentions_latest" %}">{% trans "Recently Updated" %}</a></li>
    <li class="stats{% ifequal tab_class "stats" %} active{% endifequal %}">
        <a href="{% url "contentions_stats" %}?what=crowded_contentions&days=7">{% trans "Statistics" %}</a></li>
    <li class="search{% ifequal tab_class "search" %} active{% endifequal %}">
        <a href="{% url "contentions_search" %}">{% trans "Search" %}</a>
    </li>
</ul>
