@font-face {
    font-family: 'AmericanTypewriter';
    src: url('/static/fonts/AmericanTypewriter.ttf');
}

@font-face {
    font-family: 'AmericanTypewriterBold';
    src: url('/static/fonts/AmericanTypewriterBold.ttf');
}

body {
    font-family: AmericanTypewriter, Georgia, serif;
}

form input[type='submit'],
form select {
    font-family: AmericanTypewriter, Georgia, serif;
}

body {
    /*-webkit-font-smoothing: antialiased;*/
}

.no-user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
    width: 800px;
    margin: 20px auto;
}

.home {
    margin-top: 0;
}

.landing {
    margin: 0 0 30px;
    background-color: #f1f1f1;
    padding: 30px 10px 30px 30px;
    font-size: 28px;
}

.landing a {
    color: #525252;
    border-bottom: 5px solid #7b7b7b;
    padding-bottom: 4px;
    text-decoration: none;
}

.container h3 {
    font-size: 34px;
    font-weight: normal;
    color: #969698;
    overflow: hidden;
    margin: 0;
    padding: 10px 0;
}

.container h3 span {
    color: #969698;
    font-weight: normal;
    padding-right: 8px;
    margin-left: 10px;
    float: left;
    display: block;
}

.argument-list {
    margin: 20px 0;
    padding: 0;
}

.argument-list li {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    overflow: hidden;
}

.argument-list li a {
    font-weight: normal;
    text-decoration: none;
    color: #3f3f3f;
    line-height: 42px;
    display: inline-block;
    font-size: 40px;
    padding-bottom: 4px;
    border-bottom: 3px solid #e3e3e5;
}

.argument-list li .main-contention:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 23px;
    margin-left: -31px;
    background: #e3e3e5;
    line-height: 1em;
    border-radius: 50%;
    margin-top: 40px;
}

.argument-list .user a,
.argument-list .user {
    margin-top: -1px;
    font-size: 25px;
    color: #bababa;
    border-bottom: none;
}

.argument-list .user {
    overflow: hidden;
    max-height: 1.4em;
}

.argument-list .user time {
    font-weight: normal;
    color: #8f8f8f;
}

.argument-list .stats {
    line-height: 23px;
    width: 120px;
    float: left;
    margin-top: 29px;
    font-size: 20px;
}

    .stats .because { color: #69e88b; }
    .stats .but { color: #e89ea6; }
    .stats .however { color: #e8b058; }

.argument-list .stats span {
    display: block;
}

.argument-list .info {
    float: left;
    width: 600px;
    border-left: 2px solid #e3e3e5;
    padding: 20px 20px 30px 20px;
}

header {
    overflow: hidden;
}

#contention-detail header {
    min-width: 960px;
}

.contention-nav {
    float: left;
}

.contention-nav ul {
    padding: 0;
    margin: 12px 0 0;
    float: left;
}

.contention-nav ul li {
    margin: 0;
    padding: 0 15px;
}

.contention-nav #main-navigation li a {
    color: #4e4e4e;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 18px;
}

.contention-nav ul li a:hover {
    color: #ff815c;
}

header #contention-logo {
    float: left;
}

header #contention-logo a {
    text-decoration: none;
}

form h2 {
    font-size: 30px;
    margin: 0;
    padding: 7px 0 5px;
    color: #6a6a6a;
}

form {
    padding: 8px 10px;
    margin: 0;
    font-size: 27px;
    color: gray;
}

form label {
    width: 100%;
    display: inline-block;
    font-size: 28px;
}

form a {
    color: #ff4b29;
}

form p {
    margin: 0;
    padding: 8px 0 15px;
}

form .submit {
    margin-left: -5px;
    margin-top: 10px;
    background: white;
    border: none;
    color: #ff4b29;
}

form .helptext {
    color: #bcbcbc;
    display: block;
    /*margin-left: 185px;*/
}

form .helptext a {
    color: gray;
}

form label {
    display: block;
}

.helptext ul {
    /*color: gray;*/
    margin: 0 20px;
    padding: 10px;
}

form textarea {
    width: 500px;
    height: 80px;
}

#id_title,#id_owner{
    width: 100%
}


.premise .actions form {
    margin: 0 0 0 15px;
    padding: 0 0;
    float: left;
}

.premise .actions input {
    border: none;
    background-color: transparent;
    /*font-family: sans-serif;*/
    font-size: 17px;
    font-weight: normal;
    color: #fff;
}

.story .because {
    background: #bcf4b3;
}

.story .but {
    background: #f4c0aa;
}

.story .however {
   background: #fff1a4;
}

.contention {
    /*background: #d3d3d3;*/
    font-size: 50px;
    width: 100%;
}

.contention-actions {
    background: white;
    visibility: visible;
    text-align: center;
    padding-bottom: 5px;
}

.contention-actions form {
    margin: 0;
    padding: 0;
}

.story li a.button {
    border-radius: 5px;
    background: #f4f4f4;
}

.story li.new-premise {
    /*width: 1000px;*/
    /*text-align: center;*/
}

li.base-premises {
    padding: 50px 40px;
}

.contention-detail-header {
    width: 100%;
    margin: 0;
    background: #f4f4f4;
    z-index: 9999;
    top: 0;
    height: 82px;
    overflow: hidden;
    /*border-bottom: 1px solid #c5c5c5;*/
}

.contention-detail-header #contention-logo img {
    height: 80px;
    /*border-right: 1px solid #c5c5c5;*/
}

.contention-detail-header nav {
    margin-top: -3px;
}

.contention-detail-header nav li {
    margin-top: 5px;
    font-size: 20px;
    display: block;
    color: #a0a0a0;
}

.contention-detail-header nav li a {
    color: #464646;
}


/* Interactive App */

.premise.focused {
    /*border: 3px solid #f4f4f4;*/
    /*border-radius: 8px;*/
    /*transform: scale(1.2);*/
    border-radius: 5px;
    z-index: 99999;
    box-shadow: 0 0 4px #5b5b5b;

}

/* todo: make an ab test for that */
#app .premise, 
#app .premise input, 
#keyboard-manager-info,
.collapsible-preview {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*text-shadow: 0 0 1px rgba(45, 45, 45, 0.10);*/
}

#app .premise .premise-content {
    margin: auto;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 5px;
    z-index: 1;
    color: #353535;
}

    .premise-content p {
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    .premise-content ul {
        text-align: left;
    }

    .premise-content.but {
        background: #ffd8d5;
        /*border: 3px solid gray;*/
    }

    .premise-content.because {
        background: #c8ffb3;
        /*border: 3px solid gray;*/
    }

    .premise-content.however {
        background: #fff1a4;
        /*border: 3px solid gray;*/
    }

    .premise .premise-type {
        margin-top: -34px;
        float: left;
        text-align: right;
        width: 115px;
        font-size: 24px;
    }

    .premise-type.but {
        color: #d07d7d;
    }

    .premise-type.because {
        color: #85ad63;
    }

    .premise-type.however {
        color: #ffbe86;
    }

    .premise-sources {
        margin: -3px 0 0;
        background: #e9e9e9;
        z-index: 1;
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #bcbcbc;
        text-align: left;
        font-size: 14px;
    }

    .premise-sources strong {
        text-align: left;
        display: block;
        padding: 4px 10px;
        color: gray;
        /*font-size: 20px;*/
    }

    .premise-sources p {
        margin: 0;
        padding: 0 10px 10px;
        text-overflow: ellipsis;
        text-align: left;
        color: #a9a9a9;
    }

    .premise-sources a {
        color: #b5b5b5;
        overflow: hidden;
        display:block;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .premise-user {
        overflow: hidden;
    }

    .premise-user a {
        width: auto;
        text-decoration: none
    }

    .premise-user p {
      float: left;
      margin: 0;
      padding: 0 0 5px 10px;
    }

    .premise-user .time-ago a {
        text-decoration: underline;
        line-height: 1.2em;
        padding-top: 1px;
        display: inline-block;
    }
    
    .premise-sources .links a { width: 240px; }


/*
* List View
*/
#app.list-view {
    margin-top: 20px;
    margin-left: 90px;
}

#app.list-view .contention-header {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: normal;
    padding: 10px;
    max-width: 700px;
    line-height: 1.2em;
}

#app.list-view .new-main-premise {
    color: gray;
    position: absolute;
    margin-left: 125px;
    text-decoration: none;
    margin-top: 4px;
}

#app.list-view .thread {
    border-left: 1px solid #E1E1E1;
    margin-left: 100px;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
}

#app.list-view .thread:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #E1E1E1;
    margin-left: -5px;
    border-radius: 50%;
    margin-top: 10px;
    position: absolute;
}

#app.list-view .thread:before {
    content: "";
    margin-top: -80px;
    margin-left: -15px;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    text-align: center;
    background: gray;
    border-radius: 50%;
}

#app.list-view .thread-item {
    margin-left: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 80px;
}

#app.list-view .thread-item.parent-premise {
    margin-bottom: 100px;
}

#app.list-view .parent-premise-info {
    width: 10px;
    height: 30px;
    background: white;
    position: absolute;
    margin-left: -55px;
    margin-top: 45px;
}

#app.list-view .parent-premise-info:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #E1E1E1;
    position: absolute;
    border-radius: 50%;
    margin-top: 30px;
}

#app.list-view .parent-premise-info:before {
    content: "";
    width: 10px;
    height: 10px;
    background: #E1E1E1;
    position: absolute;
    border-radius: 50%;
    margin-top: -10px;
}


#app.list-view .thread-item .go-to-main-premise {
    position: absolute;
    margin-top: -85px;
    text-decoration: none;
    color: gray;
}

#app.list-view .thread-item:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 1px;
    background: #E1E1E1;
    margin-left: -50px;
    margin-top: 20px;
}

#app.list-view .thread-item .premise {
    width: 320px;
}

#app.list-view .thread-item .premise .premise-content a {
    text-decoration: none;
    color: #333333;
}

#app.list-view .thread-item .premise .premise-type {
    text-align: left;
    padding-left: 15px;
    font-size: 17px;
    margin-top: -26px;
}

#app.list-view .thread-item .thread-actions {
    margin-top: 4px;
    margin-left: 3px;
}

#app.list-view .thread-item .thread-actions a.thread-action,
#app.list-view .thread-item .thread-actions input {
    font-size: 13px;
    color: #CCCCCC;
    text-decoration: underline;
}

#app.list-view .thread-item .thread-actions input {
    border: none;
    background: transparent;
}

#app.list-view .thread-item .thread-actions form {
    display: inline-block;
    line-height: 0;
    margin: -1px 0;
    padding: 0;
}

#app.list-view .thread-item .thread-action,
#app.list-view .thread-item form.thread-action {
    float: left;
    padding-left: 5px;
}

#app.list-view .thread-item .report a {
    font-size: 13px;
    margin-left: 15px;
}

#app.list-view .thread-fallacies {
    padding: 10px 15px;
    font-size: 15px;
    color: #9C9B9B;
    background-color: #F4F4F4;
    border-radius: 5px;
    margin-top: 5px;
}

#app.list-view .thread-fallacies .fallacy {
    color: #d07d7d;
}

#app.list-view .thread-item .thread-user {
    position: absolute;
    margin-left: -200px;
    width: 150px;
    margin-top: -8px;
}

#app.list-view .thread-item .thread-user:before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 1px;
    background-color: #E1E1E1;
    width: 30px;
    margin-top: 28px;
    margin-left: 120px;
}

#app.list-view .thread-item .thread-user .username {
    text-decoration: none;
    color: gray;
    display: block;
    text-align: right;
    padding-right: 5px;
    margin-right: 25px;
}

#app.list-view .thread-item .thread-user .avatar {
    text-decoration: none;
    display: block;
    text-align: right;
    margin-right: 30px;
    margin-top: 5px;
}

#app.list-view .thread-item .time-ago {
    display: block;
    color: #E6E6E6;
    font-size: 12px;
    text-align: right;
    margin-right: 30px;
    margin-top: 2px;
}

#app.list-view .thread-item .thread-user .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#app.list-view .thread-item .thread-info:before {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #E1E1E1;
    margin-left: -40px;
}

#app.list-view .thread-item .thread-info {
    width: 150px;
    position: absolute;
    margin-left: 350px;
    margin-top: 25px;
    border-left: 1px solid #E1E1E1;
    padding-left: 10px;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 5px;
}

#app.list-view .thread-item .thread-info:empty {
    display: none;
}

#app.list-view .thread-item .thread-info:after {
    content: "";
    display: inline-block;
    position: absolute;
    background: #E1E1E1;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: 0px;
}

#app.list-view .thread-item .thread-branches {
    width: 100px;
    padding-bottom: 5px;
}

#app.list-view .thread-item .thread-branches a {
    display: block;
    text-decoration: none;
    margin-top: 4px;
    font-size: 14px;
}

#app.list-view .thread-item .thread-branches a.but { color: #d07d7d; }
#app.list-view .thread-item .thread-branches a.because { color: #85ad63; }
#app.list-view .thread-item .thread-branches a.however { color: #ffbe86; }


#app.list-view .thread-item .thread-branches a.but span { background-color: #ffd8d5; color: #d07d7d; }
#app.list-view .thread-item .thread-branches a.because span { background-color: #c8ffb3; color: #85ad63; }
#app.list-view .thread-item .thread-branches a.however span { background-color: #fff1a4; color: #ffbe86; }


#app.list-view .thread-item .thread-branches span {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 19px;
    border-radius: 50%;
    margin-left: 5px;
    color: #333333;
    padding-top: 1px;
}

#app.list-view .thread-item .thread-supporters {
    margin: 5px;
    color: gray;
    font-size: 14px;
}

#app.list-view .thread-item .thread-supporters img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 2px;
    margin-left: 2px;
}

/*
* Tree View
*/

#app.tree-view {
    margin-top: 30px;
}

#app.tree-view .tree-contention {
    margin-bottom: 20px;
    text-align: center;
    width: 800px;
    margin: auto;
}

#app.tree-view .tree-contention h3 {
    margin: 0;
    padding: 0 0 5px;
    font-weight: normal;
    font-size: 50px;
    line-height: 0.9em;
}

#app.tree-view .tree-contention-actions {
    position: absolute;
    margin-left: 400px;
    margin-top: 2px;
}

#app.tree-view .tree-contention-actions .new-main-premise {
    color: #3E3E3E;
    font-size: 17px;
}

#app.tree-view .root {
    width: 30px;
    height: 30px;
    background: gray;
    border-radius: 50%;
    margin-bottom: 60px;
    margin-left: 360px;
}

#app.tree-view .tree-container {
    position: relative;
    margin: 0 50px 0 30px;
}

#app.tree-view ul.tree {
    margin: 0;
    padding: 0;
}

#app.tree-view li.tree-branch {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

#app.tree-view li.tree-branch.collapsed {
    display: none;
}


#app.tree-view .tree-node {
    position: absolute;
    width: 250px;
}

#app.tree-view .connector {
    background: #E1E1E1;
    width: 4px;
    height: 4px;
    position: absolute;
    z-index: -1;
}

#app.tree-view li.connector {
    list-style: none;
}

#app.tree-view .root-connector {
    height: 70px;
    margin-left: 13px;
    margin-top: 1px;
}

#app.tree-view .tree-connector {
    margin-top: -60px;
    z-index: -2;
}

#app.tree-view .collapse-button {
    display: none;
    position: absolute;
    border: 3px solid #E1E1E1;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 12px;
    cursor: pointer;
    padding-bottom: 8px;
    margin-left: 112px;
    margin-top: -40px;
    background: white;
}

#app.tree-view .collapsible-preview {
    display: none;
    position: absolute;
    border-top: 4px solid #E1E1E1;
    border-right: 4px solid #E1E1E1;
    margin-top: -30px;
    margin-left: 132px;
    width: 85px;
    text-align: right;
    padding: 5px 15px 18px 0;
    cursor: pointer;
    color: #707070;
    border-top-right-radius: 7px;
}

#app.tree-view .collapsible-preview:after {
    content: "+";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border: 3px solid #E1E1E1;
    border-radius: 50%;
    text-align: center;
    margin-left: 3px;
    margin-top: 15px;
    line-height: 19px;
}

#app.tree-view .branch-connector {
    margin-left: 125px;
    margin-top: -60px;
    height: 60px;
    z-index: -1;
}

    #app.tree-view .branch-connector:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #B3B3B3;
        position: absolute;
        content: "";
        margin-left: -3px;
        margin-top: -3px;
    }

    #app.tree-view .branch-single:before {
        width: 0;
        height: 0;
    }


#app.tree-view .child-connector {
    margin-top: 0px;
    height: 60px;
    margin-left: 125px;
    z-index: -2;
}

.user-profile {
    overflow: hidden;
}


.user-profile aside {
    width: 200px;
    float: left;
    text-align: center;
}

.user-profile aside img {
    border-radius: 50%;
}

.user-profile nav {
    margin-top: 15px;
}

.user-profile nav a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 10px;
    background-color: #f4ebb0;
    border-radius: 5px;
    color: #181818;
    font-size: 20px;
}

.user-profile nav a:hover {
    background-color: #464242;
    color: white;
}

.user-profile .user-detail {
    width: 560px;
    float: left;
    margin-left: 30px;
}

.user-detail .user-stats {
    padding: 20px 30px;
}

.container h2 {
    font-size: 30px;
    padding: 10px 0;
    margin: 0;
}

.user-profile h3 {
    font-size: 28px;
}

.user-profile .user-contentions ul {
    margin: 0 0 20px 20px;
    padding: 0;
}

.user-profile .user-contentions li {
    list-style: none;
    border-bottom: 1px solid #c1c1c1;
}

.user-profile .user-contentions li a {
    color: #525252;
    font-size: 30px;
    text-decoration: none;
}

.following  {
    margin: 0 0 0 20px;
    padding: 0 0 20px 0;
    overflow: hidden;
}

.following li {
    list-style: none;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}

.premise-actions {
    background: #d6d6d6;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #bcbcbc;
    font-size: 17px;
    overflow: hidden;
    margin-top: -5px;
    padding: 7px 5px 4px 10px;
}

.premise-actions form {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.premise-actions .support {
    border-left: 1px solid #c7c7c7;
    padding-left: 5px;
    margin-left: 2px;
}

.premise-actions .premise-action input {
    background: transparent;
    border: none;
    color: #474747;
    height: 24px;
    display: block;
    margin-top: -1px;
}

.premise-actions .premise-action {
    float: left;
    padding: 2px;
    color: #474747;
    text-decoration: none;
    display: block;
    margin-right: 9px;
    margin-left: 4px;
}

.premise-actions .premise-action:last-child {
    margin-right: 5px;
}

.premise-actions .premise-action.support {
    float: right;
}

.premise-actions .premise-action,
.premise-actions .premise-action input {
    font-size: 15px;
}

.contention-admin-menu {
    float: left;
}

.contention-admin-menu form {
    margin: -6px 0 0;
    padding: 0;
    display: inline-block;
}

.contention-admin-menu input {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    color: #474747;
}

#id_premise_type {
    margin: -10px 0 15px 20px;
    padding: 0;
}

p [for='id_premise_type_0'] {

}

ul [for='id_premise_type_0'] { color: #ff7895; }
ul [for='id_premise_type_1'] { color: #72ffa0; }
ul [for='id_premise_type_2'] { color: #ffcc64; }

#id_premise_type li label input {
    margin-right: 10px;
}

#id_premise_type li {
    list-style: none;
}

footer {
    font-size: 18px;
    margin: 50px auto auto;
    background: #ebebeb;
    color: #3d3d3d;
}

footer .container {
    margin: auto;
    padding: 20px;
}

footer p {
    margin: 0;
    padding: 5px 20px;
}

footer a {
    color: #ff167b;
}

.about {
    font-size: 20px;
    color: gray;
}

.about h2 {
    color: #2b2b2b;
}

.form-info {
    background: #f5f5f5;
    font-size: 23px;
    padding: 20px;
}

#id_parent, #id_fallacy_type {
    width: 600px;
    -webkit-appearance: menulist-button;
    font-family: AmericanTypewriter, Georgia, serif;
}

#id_fallacy_type {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabs {
    font-size: 22px;
    overflow: hidden;
    margin: 7px;
    padding: 0;
}

.tabs li {
    margin: 0 10px 4px 14px;
    text-align: center;
    padding: 0;
    float: left;
    list-style: none;
}

.tabs li.active {
    border-bottom: 4px solid gray;
}

.tabs li a {
    color: gray;
    text-decoration: none;
}

form .contention-link {
    color: #a5a5a5;
    font-weight: normal;
}

form .parent-premise {
    color: #a5a5a5;
    padding: 5px;
}

form .fallacy-premise {
    color: #bcbcbc;
    padding: 0;
}

form .parent-premise strong {
    font-weight: normal;
    color: gray;
    display: block;
}

#id_text {
    height: 200px;
}

.report {
    position: absolute;
    margin-left: 145px;
    margin-top: 4px;
}

.report a {
    color: #aeaeae;
    font-size: 17px;
    width: 120px;
    line-height: 17px;
    display: inline-block;
    white-space: normal;
}

.reported_as_fallacy {
    border-top: 1px solid #bcbcbc;
    background: #ffd8d5;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
    text-align: left;
    color: #e09396;
}

.reported_as_fallacy .fallacy {
    color: #676568;
}

.reported_as_fallacy .fallacy form {
    display: block;
    float: right;
    margin: 0;
    padding: 0;
}

.reported_as_fallacy .fallacy input {
    display: block;
    font-size: 13px;
    background: transparent;
    border: none;
    color: #E09497;
    padding-top: 2px;
}

.supporters {
    border-top: 1px solid #bcbcbc;
    background: #d7ffcf;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
    text-align: left;
    color: #73b752;
}

.supporters .supporter-list a {
    display: inline;
    color: #5e5d5b;
    text-decoration: none;
}


.search-form {
    padding: 30px;
    color: #4f4f4f;
}

.search-form input {
    width: 200px;
    font-size: 29px;
}

.profile-update-button {
    font-size: 20px;
    color: #232323;
    text-decoration: none;
}



.premise-list {
    margin: 0;
    padding: 0;
}

.premise-list li {
    margin: 0;
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.contention-main-actions {
    float: right;
    padding-right: 20px;
}

.contention-main-actions ul {
    margin: 0;
    padding: 7px 0 0 0;
}

#view-switcher li {
    text-align: center;
}

.original-discourse {
    overflow: hidden;
    max-width: 350px;
    height: 1.3em;
}

/* Notificatons */

.notifications {
    font-size: 22px;
}

.notifications .empty {
    font-size: 20px;
    padding: 0 20px;
    color: #9b9b9b;
    margin-bottom: 20px;
}

.notifications a {
    color: gray;
}

.notifications ul {
    margin: 0;
    padding: 5px;
}

.notifications li {
    list-style: none;
    padding: 0;
    padding-left: 15px;
    margin: 0;
    color: #9e9e9e;
    border-left: 5px solid #e7e7e7;
    margin-bottom: 20px;
}

.notifications .see-more {
    border: none;
    margin: 0;
}

.notifications li time {
    display: block;
    font-size: 17px;
    margin-left: 5px;
    color: #c0c0c0;
}

.notifications .user {
    background: #fde3ff;
    text-decoration: none;
    color: #222222;
    padding: 1px 10px;
}

.notifications .contention-link {
    background: #e6ffff;
    text-decoration: none;
    color: #222222;
    padding: 1px 10px;
}

.notifications .followed-profile {
    background: #ffe6eb;
    text-decoration: none;
    color: #222222;
    padding: 1px 10px;
}

.notifications .premise-type {
    padding: 1px 10px;
    color: #222222;
}

.notifications .premise-type.but { background: #ffcdd7; }
.notifications .premise-type.however { background: #fffbd4; }
.notifications .premise-type.because { background: #d6ffd4; }

.notifications strong {
    background: #ffebe6;
    text-decoration: none;
    color: #222222;
    font-weight: normal;
    padding: 1px 10px;
    white-space: nowrap;
}


/* Loading */

.loading {
    /*visibility: hidden;*/
}


/* Content Pages */

.content {
    margin-top: 30px;
    line-height: 1.6em;
}

.content h2 {
    margin: 0;
    padding: 0;
}

.content a {
    color: gray;
    text-decoration: none;
    border-bottom: 4px solid #81ffdd;
    padding-bottom: 1px;
}

.content li {
    padding-bottom: 8px;
}

/* Newsfeed */

.newsfeed-container .news-item {
    overflow: hidden;
    font-size: 22px;
    margin-top: 40px;
    color: gray;
}

.news-item .sender {
    width: 160px;
    float: left;
    text-align: center;
    margin-top: 5px;
}

    .news-item .sender img {
        background: #fafafa;
        padding: 8px;
        border-radius: 50%;
    }

    .news-item .sender a {
        color: #666666;
        display: block;
        text-decoration: none;
    }

.news-item .news-item-content:before {
    width: 68px;
    margin-left: -92px;
    margin-top: 19px;
    height: 2px;
    background: #e9e9e9;
    content: "";
    display: inline-block;
    position: absolute;
}

.news-item .news-item-content {
    margin-top: 7px;
    float: left;
    width: 500px;
    margin-left: 35px;
    padding: 25px 25px;
    background: #f6f6f6;
    border-radius: 10px;
}

.news-item .news-item-content--no-arrow {
    margin-top: 7px;
    float: left;
    width: 90%;
    margin-left: 0;
    padding: 25px 25px;
    background: #f6f6f6;
    border-radius: 10px;
}

.news-item time {
    display: block;
    font-size: 19px;
    color: #c4c4c4;
    margin-top: 5px;
}

.news-item.contention_entry .contention-link {
    color: #464646;
    display: block;
    font-size: 40px;
    text-decoration: none;
    line-height: 1em;
}

.news-item.premise_entry {
    color: #c4c4c4;
}

.news-item.premise_entry .contention-link {
    color: #464646;
    font-size: 22px;
    text-decoration: none;
    line-height: 1em;
}

.news-item.fallacy_entry .contention-link {
    font-size: 22px;
    text-decoration: none;
    line-height: 1.2em;
    display: block;
    padding: 10px;
}

.news-item.fallacy_entry strong {
    color: #ff858e;
    font-weight: normal;
}

.news-item.following_entry  a {
    color: #464646;
    font-size: 22px;
    text-decoration: none;
    line-height: 1em;
}

.news-item.premise_entry p {
    padding: 13px 20px;
    margin: 0;
}

.news-item.premise_entry p a {
    color: #464646;
    text-decoration: none;
}

.news-item.premise_entry p a.because { color: #7bc370; }
.news-item.premise_entry p a.but { color: #ff858e; }
.news-item.premise_entry p a.however { color: #ffb46e; }

.news-item.fallacy_entry a {
    color: #464646;
    text-decoration: none;
}


.empty-newsfeed {
    padding: 30px;
    color: #464646;
}

.rules {
    color: #bbbbbb;
    margin: 10px;
}

h3.newsfeed-title {
    padding: 10px 30px 0;
    color: #a0a0a0;
}

.switch-newsfeed {
    color: #949494;
    font-size: 20px;
    float: left;
    margin-left: 30px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid #f2f2f2;
    height: 22px;
}

.newsfeed-actions {
    padding-top: 12px;
    padding-bottom: 15px;
}

li.load-more {
    margin-left: 170px;
    margin-top: 30px;
}

div.load-more {
    margin-left: 200px;
    margin-top: 30px;
}

.load-more .next {
    color: #a0a0a0;
}

/* Blog */

.post {
    font-size: 24px;
    line-height: 1.5em;
}

.post time {
    color: #bfbfbf;
}

.post h3 {
    font-size: 30px;
    height: auto;
    display: block;
    border-bottom: 3px solid #fff6af;
    padding: 5px 0 4px;
    /*width: 640px;*/
}

.post h3 a {
    border-bottom: none;
    line-height: 1.2em;
}

.post p {
    color: #4b4b4b;
}

.post table {
    background: #ffffff;
    width: 80%
}

.post table td,
.post table th {
    text-align: center;
    padding: 10px 3px;
    border: 3px solid #f4f4f4;
    color: #616161;
}

.post table th {
    font-weight: normal;
}

/* Announcements */

.announcements {
    background: #ffffd8;
    margin: 0 0 20px;
    padding: 13px 12px;
    font-size: 21px;
    color: #f8b146;
}

.announcements li {
    margin: 0;
    padding: 3px 10px;
    list-style: none;
}

.announcements li a {
    color: #4f4f4f;
    text-decoration: none;
}

.announcements strong {
    font-weight: normal;
}

/* Keyboard Manager */
#keyboard-manager-info {
    position: absolute;
    left: 40px;
    top: 170px;
    width: 290px;
    z-index: 999;
    color: gray;
}


#keyboard-manager-info .keys {
    display: block;
    float: left;
    width: 40px;
}

#keyboard-manager-info  p {
    float: left;
    width: 130px;
    padding: 0;
    margin: -15px 0 0 10px;
    font-size: 14px;
}

#keyboard-manager-info .keys .up-down {
    width: 10px;
    display: inline-block;
    margin-top: -12px;
    margin-left: 15px;
}

#keyboard-manager-info .keys .left,
#keyboard-manager-info .keys .right {
    display: inline-block;
    position: absolute;
}

#keyboard-manager-info .keys .right {
    margin-left: -3px;
}

#login-form .reset-password-link {
    color: #c1c1c1;
    text-decoration: none;
    font-size: 17px;
}

/* Stats */
.stats-content {
    padding: 4px 20px;
    overflow: hidden;
}

.stats-sidebar {
    width: 230px;
    background: #f1f1f1;
    float: left;
}

.stats-sidebar ul {
    margin: 0;
    padding: 10px 0 10px 20px;
}

.stats-sidebar li {
    list-style: none;
    padding: 3px 20px 3px 14px;
    border-left: 10px solid #d6d6d6;
    margin-top: 14px;
    margin-bottom: 14px;
}

.stats-sidebar li.active {
    border-color: #ffd461;
}

.stats-sidebar li a {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 25px;
    line-height: 1em;
}

.stats-list {
    width: 510px;
    float: left;
    margin-left: 20px;
}

.stat-item {
    margin-bottom: 20px;
}
.search-content {
    overflow: hidden;
}

.search-list {
    width: 710px;
    float: left;
    margin-left: 20px;
}

.search-item {
    margin-bottom: 20px;
}

.user-stats h2 {
    margin: 0;
    padding: 0;
    margin-left: 110px;

}

.user-stats h2 a {
    color: gray;
    text-decoration: none;
}

.stats-bar {
    overflow: hidden;
}

.stats-bar span {
    width: 92px;
    float: left;
    display: block;
    font-size: 14px;
    text-align: center;
    margin: 2px 3px;
    padding: 2px 3px;
    color: #808080;
}

.stats-bar span {
    border-left: 1px solid #d1d1d1;
}

.stats-bar span:first-child {
    border: none;
}

.user-stats img {
    float: left;
    border-radius: 50%;
    margin-top: 7px;
}


.user-detail .stats-bar {
    margin: 30px 25px;
    border-bottom: 1px solid #d1d1d1;
}

.user-detail h3 {
    margin: 0 0 -25px;
    padding: 0;
    font-size: 1.5em;
}

.user-detail .stats-bar span {
    font-weight: bold;
    font-size: 18px;
    width: 110px;
    color: #808080;
}

.time-filter {
    margin: 0 0 20px;
    padding: 0;
    overflow: hidden;
}
.search-filter {
    margin: 0 0 70px;
    padding: 0;
    overflow: hidden;
}
.search-filter li {
    margin: 0 0 20px;
    padding: 0;
    overflow: hidden;
}

.time-filter li {
    float: left;
    list-style-type: none;
    padding: 0 10px;
}

.time-filter li a {
    text-decoration: none;
    color: gray;
    border-bottom: 4px solid #e1e1e1;
    display: inline-block;
    padding: 0 3px;
    font-size: 22px;
}
.search-filter li a {
    text-decoration: none;
    color: gray;
    border-bottom: 4px solid #e1e1e1;
    display: inline-block;
    padding: 0 3px;
    font-size: 22px;
}

.time-filter li.active a {
    border-color: #252626;
}

.contention-stats h2 {
    margin: 0;
    padding: 3px;
    line-height: 1.2em;
}

.contention-stats h2 a {
    text-decoration: none;
    color: #5e5e5e;
}

.contention-stats .contributors {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.contention-stats .contributors li {
    list-style-type: none;
    float: left;
    margin: 3px;
}

.contention-stats .contributors li img {
    border-radius: 50%;
}

.premise-stats {
    padding-bottom: 20px;
    border-bottom: 2px solid #f4f4f4;
}

.premise-stats h2 {
    margin: 0;
    padding: 0;
    margin-left: 4px;
    line-height: 1.1em;
}

.premise-stats h2 a {
    color: #414141;
    text-decoration: none;
}

.premise-stats .premise-type {
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 20px;
}

.premise-stats .premise-content {
    padding: 15px;
    border-radius: 10px;
    line-height: 1.5em;
}

.premise-stats .premise-content.because { background: #e0ffdc; }
.premise-stats .premise-content.but { background: #ffeae8; }
.premise-stats .premise-content.however { background: #fff8e1; }

.premise-stats .supporter-count {
    margin-left: 20px;
    margin-top: 10px;
    color: #b7b7b5;
}

.premise-stats .reported_as_fallacy {
    border: none;
    border-radius: 5px;
    background: white;
}

#minimap {
  background: rgba(200, 200, 200, .3);
  position: fixed;
  right: 10px;
  top: 90px;
  z-index: 9999999;
}

#minimap .map {
  background: center center no-repeat;
  background-size: 100% auto;
  bottom: 20px;
  left: 20px;
  position: absolute !important;
  right: 20px;
  top: 20px;
}

#minimap .navigator {
  background: rgba(0, 0, 0, .2);
  left: 0;
  position: absolute;
  top: 0;
}

/* Main Navigation */
#logo a {
    display: inline-block;
    background: #FFF8B2;
    width: 280px;
    height: 83px;
    font-size: 55px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #343434;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

#logo img {
    display: none
}

#logo.contention-logo {
    float: left;
}

#logo.contention-logo a {
    width: 250px;
    height: 75px;
    font-size: 48px;
    padding-top: 8px;
}

#site-navigation {
    background: rgb(255, 248, 178);
    overflow: hidden;
    margin: 20px 0 0;
    padding: 0 20px;
}

#site-navigation li {
    float: left;
    padding: 15px 3px 13px;
    margin: 0 10px;
}

#site-navigation li a {
    color: #2B2B2B;
    font-size: 1.2em;
    text-decoration: none;
}

#site-navigation .new-argument-link {
    border-bottom: 3px solid #313131;
}

#site-navigation li.pull-right {
    float: right;
}

#site-navigation li.inline-search {
    padding: 8px;
    margin-right: -10px;
}

#site-navigation .social-links {
    position: absolute;
    margin-left: 480px;
    margin-top: -105px;
    color: #C4C4C4;
    text-align: right;
}

#site-navigation .social-links a {
    color: #999999;
    font-size: 17px;
    margin-left: 8px
}

#site-navigation .social-links a.active {
    border-bottom: 2px solid #E0E0E0;
}

.inline-search form {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.inline-search #keyword {
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 160px;
    outline: none;
    /*border: none;*/
    padding: 4px 5px 2px;
}

#social-providers {
    margin: 0;
    padding: 0;
}

#social-providers li {
    list-style: none;
}

#social-providers li a {
    text-decoration: none;
}

/* Authentication */

#auth-form {
    width: 700px;
    margin: 20px auto;
}

#auth-form * {
    font-size: 20px;
    font-family: Helvetica, sans-serif;
}

#auth-form p label {
    float: left;
    width: 170px;
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;
    color: #8F8F8F;
    font-size: 18px;
}

#auth-form p input {
    float: left;
}

#auth-form input[type='submit'] {
    padding: 5px 10px;
    font-size: 18px;
    margin-left: 180px;
}

#auth-form p {
    overflow: hidden
}

#auth-form .form-actions {
    margin: 10px 0 20px 180px;
    padding: 0;

}

#auth-form .form-actions li {
    list-style: none;
    margin-bottom: 5px;
    font-size: 16px;
}

#auth-form .form-actions li a {
    text-decoration: none;
    height: 1em;
    display: inline-block;
    border-bottom: 3px solid #F7F7F7;
    font-size: 16px;
}

#auth-form .form-actions li a:hover {
    color: black;
}

#auth-form .form-actions li a.login_with_social_accounts {
    border-color: #BAE8FF;
}

#auth-form .helptext {
    clear: both;
    margin-left: 180px;
    padding-top: 5px;
    font-size: 16px;
}

#auth-form h3 {
    margin-left: 178px;
}

#auth-form h3 a {
    text-decoration: none;
}

.login-popup {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    background-color: #F7F6F6;
    padding: 10px 15px;
    font-size: 0.9em;
    z-index: 999;
}

.login-popup a {
    color: gray;
    text-decoration: none;
}

.login-popup button {
    position: absolute;
    right: 10px;
    background: transparent;
    border: none;
    color: gray;
    margin-top: -2px;
}

#list-view-indicator {
    position: absolute;
    padding: 10px 15px;
    right: 144px;
    z-index: 9999999;
    top: 82px;
    width: 200px;
    font-size: 16px;
    display: none;
}

.tooltip {
    position: relative;
    background: #B3B3B3;
}
.tooltip:after, .tooltip:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip:after {
    border-color: rgba(47, 64, 74, 0);
    border-bottom-color: #B3B3B3;
    border-width: 6px;
    margin-left: -10px;
}

.tooltip:before {
    border-color: rgba(65, 75, 82, 0);
    border-bottom-color: #B3B3B3;
    border-width: 10px;
    margin-left: -16px;
}

.tooltip .close {
    display: inline-block;
    position: absolute;
    right: 7px;
    top: 7px;
    background: #B3B3B3;
    border: none;
}

.share, .view {
    text-align: center;
}

.share a, .view a {
    text-decoration: none;
}

.share.contention-nav ul li {
    padding-left: 20px;
}

.view ul li img {
    margin-left: 5px;
}