@font-face {
    font-family: 'AmericanTypewriter';
    src: url('/static/fonts/AmericanTypewriter.ttf');
}

@font-face {
    font-family: 'AmericanTypewriterBold';
    src: url('/static/fonts/AmericanTypewriterBold.ttf');
}

body {
    font-family: AmericanTypewriter, Georgia, serif;
}

form input[type='submit'],
form select {
    font-family: AmericanTypewriter, Georgia, serif;
}

.container {
    width: 800px;
    margin: 20px auto;
}

.landing {
    margin: 30px 0;
    background-color: #f1f1f1;
    padding: 30px 10px 30px 30px;
    font-size: 28px;
}

.landing a {
    color: #525252;
    border-bottom: 5px solid #7b7b7b;
    padding-bottom: 4px;
    text-decoration: none;
}

.container h3 {
    font-size: 34px;
    font-weight: normal;
    color: #969698;
    overflow: hidden;
    margin: 0;
    padding: 10px 0;
}

.container h3 span {
    color: #969698;
    font-weight: normal;
    padding-right: 8px;
    margin-left: 10px;
    float: left;
    display: block;
}

.argument-list {
    margin: 20px 0;
    padding: 0;
}

.argument-list li {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    overflow: hidden;
}

.argument-list li a {
    font-weight: normal;
    text-decoration: none;
    color: #3f3f3f;
    line-height: 43px;
    display: inline-block;
    font-size: 45px;
    padding-bottom: 4px;
    border-bottom: 3px solid #e3e3e5;
}

.argument-list li .main-contention:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 23px;
    margin-left: -31px;
    background: #e3e3e5;
    line-height: 1em;
    border-radius: 50%;
    margin-top: 40px;
}

.argument-list .user a,
.argument-list .user {
    margin-top: -1px;
    font-size: 25px;
    color: #bababa;
    border-bottom: none;
}

.argument-list .user time {
    font-weight: normal;
    color: #8f8f8f;
}

.argument-list .stats {
    line-height: 23px;
    width: 100px;
    float: left;
    margin-top: 29px;
    font-size: 20px;
}

    .stats .because { color: #69e88b; }
    .stats .but { color: #e89ea6; }
    .stats .however { color: #e8b058; }

.argument-list .stats span {
    display: block;
}

.argument-list .info {
    float: left;
    width: 600px;
    border-left: 2px solid #e3e3e5;
    padding: 20px 20px 30px 20px;
}

header {
    overflow: hidden;
}

header nav {
    float: left;
}

header nav ul {
    padding: 0;
    margin: 12px 0 0;
}

header nav ul li {
    margin: 0;
    padding: 0 15px;
}

header nav #main-navigation li a {
    color: #4e4e4e;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #ff815c;
}

header #logo {
    float: left;
}

header #logo a {
    text-decoration: none;
}

form h2 {
    font-size: 30px;
    margin: 0;
    padding: 7px 0 5px;
    color: #6a6a6a;
}

form {
    padding: 8px 10px;
    margin: 0;
    font-size: 27px;
    color: gray;
}

form label {
    width: 100%;
    display: inline-block;
    font-size: 28px;
}

form a {
    color: #ff4b29;
}

form p {
    margin: 0;
    padding: 8px 0 15px;
}

form .submit {
    margin-left: -5px;
    margin-top: 10px;
    background: white;
    border: none;
    color: #ff4b29;
}

form .helptext {
    color: #bcbcbc;
    display: block;
    /*margin-left: 185px;*/
}

form .helptext a {
    color: gray;
}

form label {
    display: block;
}

.helptext ul {
    /*color: gray;*/
    margin: 0 20px;
    padding: 10px;
}

form textarea {
    width: 500px;
    height: 80px;
}


.premise .actions form {
    margin: 0 0 0 15px;
    padding: 0 0;
    float: left;
}

.premise .actions input {
    border: none;
    background-color: transparent;
    /*font-family: sans-serif;*/
    font-size: 17px;
    font-weight: normal;
    color: #fff;
}

.story .because {
    background: #bcf4b3;
}

.story .but {
    background: #f4c0aa;
}

.story .however {
   background: #fff1a4;
}

.contention {
    /*background: #d3d3d3;*/
    font-size: 50px;
    width: 100%;
}

.contention-actions {
    background: white;
    visibility: visible;
    text-align: center;
    padding-bottom: 5px;
}

.contention-actions form {
    margin: 0;
    padding: 0;
}

.story li a.button {
    border-radius: 5px;
    background: #f4f4f4;
}

.story li.new-premise {
    /*width: 1000px;*/
    /*text-align: center;*/
}

li.base-premises {
    padding: 50px 40px;
}

.sticky-header {
    position: fixed;
    width: 100%;
    margin: 0;
    background: #f4f4f4;
    z-index: 9999;
    top: 0;
    /*border-bottom: 1px solid #c5c5c5;*/
}

.sticky-header #logo img {
    height: 80px;
    /*border-right: 1px solid #c5c5c5;*/
}

.sticky-header {
    /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
}
.sticky-header nav {
    margin-top: -3px;
}

.sticky-header nav li {
    margin-top: 5px;
    font-size: 20px;
    display: block;
    color: #a0a0a0;
}

.sticky-header nav li a {
    color: #464646;
}


/* Interactive App */

#app {
    margin-bottom: 40px;
    position: absolute;
}

#app canvas {
    position: absolute;
    background: transparent;
    margin-bottom: 150px;
}

#app.tree-view .main-contention {
    /*position: absolute;*/
    /*margin-left: 400px;*/
    margin-top: 60px;
    width: 800px;
    font-size: 60px;
    text-align: center;
    margin-bottom: -70px;
    /*width: 100%;*/
}

#app .premise .premise-content {
    margin: auto;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    z-index: 1;
}

    .premise-content p {
        margin: 0;
        padding: 0;
    }

    .premise-content.but {
        background: #ffd8d5;
        /*border: 3px solid gray;*/
    }

    .premise-content.because {
        background: #c8ffb3;
        /*border: 3px solid gray;*/
    }

    .premise-content.however {
        background: #fff1a4;
        /*border: 3px solid gray;*/
    }

    .premise .premise-type {
        margin-top: -34px;
        float: left;
        text-align: right;
        width: 115px;
        font-size: 24px;
    }

    .premise-type.but {
        color: #d07d7d;
    }

    .premise-type.because {
        color: #85ad63;
    }

    .premise-type.however {
        color: #ffbe86;
    }

    .premise-sources {
        margin: -3px 0 0;
        background: #e9e9e9;
        z-index: 1;
        /*position: absolute;*/
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #bcbcbc;
    }

    .premise-sources strong {
        text-align: left;
        display: block;
        padding: 4px 10px;
        color: gray;
        /*font-size: 20px;*/
    }

    .premise-sources p {
        margin: 0;
        padding: 0 10px 10px;
        text-overflow: ellipsis;
        text-align: left;
        color: #a9a9a9;
    }

    .premise-sources a {
        color: #b5b5b5;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .tree-view .premise-sources a { width: 240px; }
    .list-view .premise-sources a { width: 440px; }


.tree-view .main-premise-content {
    padding-top: 60px;
    padding-bottom: 20px;
    max-width: 800px;
    line-height: 1em;
    margin: auto;
}

#app .main-premise-content p {
    margin: 0;
    padding: 0;
}

.user-profile {
    overflow: hidden;
}


.user-profile aside {
    width: 200px;
    float: left;
    text-align: center;
}

.user-profile aside img {
    border-radius: 50%;
}

.user-profile nav {
    margin-top: 15px;
}

.user-profile nav a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 20px;
    background-color: #f4ebb0;
    border-radius: 5px;
    color: #181818;
    font-size: 21px;
}

.user-profile nav a:hover {
    background-color: #464242;
    color: white;
}

.user-profile .user-detail {
    width: 500px;
    float: left;
    margin-left: 30px;
}

.container h2 {
    font-size: 30px;
    padding: 10px 0;
    margin: 0;
}

.user-profile h3 {
    font-size: 28px;
}

.user-profile .user-contentions ul {
    margin: 0 0 20px 20px;
    padding: 0;
}

.user-profile .user-contentions li {
    list-style: none;
    border-bottom: 1px solid #c1c1c1;
}

.user-profile .user-contentions li a {
    color: #525252;
    font-size: 30px;
    text-decoration: none;
}

.following  {
    margin: 0 0 0 20px;
    padding: 0 0 20px 0;
    overflow: hidden;
}

.following li {
    list-style: none;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}


.main-contention-actions .new-main-premise {
    font-size: 20px;
    text-decoration: underline;
    color: #505050;
    z-index: 9;
    position: absolute;
    margin-left: 28px;
    margin-top: -10px;
}

.premise-actions {
    margin: -3px 0 0;
    background: #d6d6d6;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #bcbcbc;
    font-size: 18px;
    padding-bottom: 3px;
}

.premise-actions a {
    color: #474747;
    margin-left: 3px;
}

.premise-actions form {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.premise-actions input {
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    color: #474747;
}
.contention-admin-menu form {
    margin: -6px 0 0;
    padding: 0;
    display: inline-block;
}

.contention-admin-menu input {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    color: #474747;
}

#id_premise_type {
    margin: -10px 0 15px 20px;
    padding: 0;
}

p [for='id_premise_type_0'] {

}

ul [for='id_premise_type_0'] { color: #ff7895; }
ul [for='id_premise_type_1'] { color: #72ffa0; }
ul [for='id_premise_type_2'] { color: #ffcc64; }

#id_premise_type li label input {
    margin-right: 10px;
}

#id_premise_type li {
    list-style: none;
}

footer {
    font-size: 22px;
    margin: 50px auto auto;
    background: #ebebeb;
    color: #3d3d3d;
}

footer .container {
    margin: auto;
    padding: 20px;
}

footer p {
    margin: 0;
    padding: 5px 20px;
}

footer a {
    color: #ff167b;
}

.about {
    font-size: 20px;
    color: gray;
}

.about h2 {
    color: #2b2b2b;
}

.form-info {
    background: #f5f5f5;
    font-size: 23px;
    padding: 20px;
}

#id_parent, #id_fallacy_type {
    width: 600px;
    -webkit-appearance: menulist-button;
    font-family: AmericanTypewriter, Georgia, serif;
}

#id_fallacy_type {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabs {
    font-size: 25px;
    overflow: hidden;
    margin: 7px;
    padding: 0;
}

.tabs li {
    margin: 0 20px 4px 14px;
    text-align: center;
    padding: 0;
    float: left;
    list-style: none;
}

.tabs li.active {
    border-bottom: 4px solid gray;
}

.tabs li a {
    color: gray;
    text-decoration: none;
}

form .contention-link {
    color: #a5a5a5;
    font-weight: normal;
}

form .parent-premise {
    color: #a5a5a5;
    padding: 5px;
}

form .fallacy-premise {
    color: #bcbcbc;
    padding: 0;
}

form .parent-premise strong {
    font-weight: normal;
    color: gray;
    display: block;
}

#id_text {
    height: 200px;
}

.tree-view .report {
    position: absolute;
    margin: 7px 0 0 130px;
    z-index: 999;
}

.list-view .report {
    margin-left: 480px;
    margin-top: 10px;
}

.report a {
    color: #aeaeae;
    font-size: 17px;
    width: 120px;
    line-height: 17px;
    display: inline-block;
    white-space: normal;
}

.reported_as_fallacy {
    border-top: 1px solid #bcbcbc;
    background: #ffd8d5;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
    text-align: left;
    color: #e09396;
}

.reported_as_fallacy .fallacy {
    font-size: 17px;
    color: #676568;
}

.search-form {
    padding: 30px;
    color: #4f4f4f;
}

.search-form input {
    width: 200px;
    font-size: 29px;
}

.profile-update-button {
    font-size: 20px;
    color: #232323;
    text-decoration: none;
}



/* Tree View */

.tree-view .tree ul, .tree li {
    margin: 0;
    padding: 0;
}

.tree-view .tree ul {
    margin: 0;
	padding-top: 60px; position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree-view .tree li {
	float: left;
    text-align: center;
	list-style-type: none;
	position: relative;
	padding: 64px 5px 0 5px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}


.tree-view .tree li::before,
.tree-view .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 4px solid #e1e1e1;
	width: 50%; height: 60px;
}
.tree-view .tree li::after{
	right: auto; left: 50%;
	border-left: 4px solid #e1e1e1;
}

.tree-view .tree li:only-child::after,
.tree-view .tree li:only-child::before {
	display: none;
}

.tree-view .tree li:only-child{ padding-top: 0;}

.tree-view .tree li:first-child::before,
.tree-view .tree li:last-child::after{
	border: 0 none;
}
.tree-view .tree li:last-child::before{
	border-right: 4px solid #e1e1e1;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree-view .tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.tree-view .tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 4px solid #e1e1e1;
	width: 0; height: 60px;
}


.tree-view .tree li .premise {
	text-decoration: none;
    width: 250px;
	display: inline-block;
}

.tree-view .root {
    display: inline-block;
    width: 30px;
    z-index: 2;
    position: absolute;
    height: 30px;
    margin-left: -13px;
    text-align: center;
    background: gray;
    border-radius: 50%;
}

.collapse-button {
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
    margin-top: -70px;
    z-index: 9;
    text-decoration: none;
}

#app.empty .root {
    display: none;
}

#app.empty {
    position: static;
    margin-top: 90px;
}

#app.empty .main-contention {
    margin: auto;
}

#app.empty .new-main-premise {
    margin-left: -54px;
}

.collapsed {
    /*display: none;*/
}

.uncollapse-button {
    width: 100%;
    display: block;
    margin-top: 50px;
}


#app.list-view {
    position: static;
}

.list-view li {
    list-style: none;
    padding-left: 20px;
}

.list-view .child-premise {
    border-left: 3px solid #eaeaea;
}

/*.list-view ul:first-child {*/
    /*border: none;*/
/*}*/

.list-view .premise {
    width: 600px;
    margin-bottom: 100px;
}

.list-view .main-contention {
    width: 100%;
    margin-bottom: 0;
}

.list-view .main-contention {
    font-size: 60px;
    padding-bottom: 70px;
    margin-top: 160px;
}

.list-view .main-premise-content {
    margin: 50px;
    width: 900px;
    line-height: 1em;
}

.list-view .premise-actions {
    padding-left: 10px;
}

.contention-main-actions {
    float: right;
    padding-right: 50px;
}

#view-switcher li {
    text-align: center;
}

/* Notificatons */

.notifications {
    font-size: 22px;
}

.notifications .empty {
    font-size: 20px;
    padding: 0 20px;
    color: #9b9b9b;
    margin-bottom: -20px;
}

.notifications a {
    color: gray;
}

.notifications ul {
    margin: 0;
    padding: 5px;
}

.notifications li {
    list-style: none;
    padding: 0;
    padding-left: 15px;
    margin: 0;
    color: #9e9e9e;
    border-left: 5px solid #e7e7e7;
    margin-bottom: 20px;
}

.notifications .see-more {
    border: none;
    margin: 0;
}

.notifications li time {
    display: block;
    font-size: 17px;
    margin-left: 5px;
    color: #c0c0c0;
}

.notifications .user {
    background: #fde3ff;
    text-decoration: none;
    color: #222222;
    padding: 1px 10px;
}

.notifications .contention-link {
    background: #e6ffff;
    text-decoration: none;
    color: #222222;
    padding: 1px 10px;
}

.notifications .premise-type {
    padding: 1px 10px;
    color: #222222;
}

.notifications .premise-type.but { background: #ffcdd7; }
.notifications .premise-type.however { background: #fffbd4; }
.notifications .premise-type.because { background: #d6ffd4; }

.notifications strong {
    background: #ffebe6;
    text-decoration: none;
    color: #222222;
    font-weight: normal;
    padding: 1px 10px;
    white-space: nowrap;
}


/* Loading */

.loading {
    visibility: hidden;
}


/* Content Pages */

.content {
    margin-top: 30px;
    line-height: 1.6em;
}

.content h2 {
    margin: 0;
    padding: 0;
}

.content a {
    color: gray;
    text-decoration: none;
    border-bottom: 4px solid #81ffdd;
    padding-bottom: 1px;
}

.content li {
    padding-bottom: 8px;
}


/* Media Queries */
@media (max-width: 800px){
  header nav ul li {
    float: left;
    margin-top: 23px;
    }
}

