@font-face {
    font-family: 'AmericanTypewriter';
    src: url('/static/fonts/AmericanTypewriter.ttf');
}

@font-face {
    font-family: 'AmericanTypewriterBold';
    src: url('/static/fonts/AmericanTypewriterBold.ttf');
}

body {
    font-family: AmericanTypewriter, Georgia, serif;
}

form input[type='submit'],
form select {
    font-family: AmericanTypewriter, Georgia, serif;
}

.container {
    width: 800px;
    margin: 20px auto;
}

.landing {
    margin: 30px 0;
    background-color: #f1f1f1;
    padding: 30px 10px 30px 30px;
    font-size: 28px;
}

.landing a {
    color: #525252;
    border-bottom: 5px solid #7b7b7b;
    padding-bottom: 4px;
    text-decoration: none;
}

.container h3 {
    font-size: 34px;
    font-weight: normal;
    color: #969698;
    overflow: hidden;
    margin: 0;
    padding: 10px 0;
}

.container h3 span {
    color: #969698;
    font-weight: normal;
    padding-right: 8px;
    margin-left: 10px;
    float: left;
    display: block;
}

.argument-list {
    margin: 20px 0;
    padding: 0;
}

.argument-list li {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    overflow: hidden;
}

.argument-list li a {
    font-weight: normal;
    text-decoration: none;
    color: #3f3f3f;
    line-height: 43px;
    display: inline-block;
    font-size: 45px;
    padding-bottom: 4px;
    border-bottom: 3px solid #e3e3e5;
}

.argument-list li .main-contention:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 23px;
    margin-left: -31px;
    background: #e3e3e5;
    line-height: 1em;
    border-radius: 50%;
    margin-top: 40px;
}

.argument-list .user a,
.argument-list .user {
    margin-top: -1px;
    font-size: 25px;
    color: #bababa;
    border-bottom: none;
}

.argument-list .stats {
    line-height: 23px;
    width: 100px;
    float: left;
    margin-top: 29px;
    font-size: 20px;
}

    .stats .because { color: #69e88b; }
    .stats .but { color: #e89ea6; }
    .stats .however { color: #e8b058; }

.argument-list .stats span {
    display: block;
}

.argument-list .info {
    float: left;
    width: 600px;
    border-left: 2px solid #e3e3e5;
    padding: 20px 20px 30px 20px;
}

header {
    overflow: hidden;
}

header nav {
    float: left;
}

header nav ul {
    padding: 0;
    margin: 12px 0 0;
}

header nav ul li {
    margin: 0;
    padding: 0 15px;
}

header nav #main-navigation li a {
    color: #4e4e4e;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #ff815c;
}

header #logo {
    float: left;
}

header #logo a {
    text-decoration: none;
}

form h2 {
    font-size: 30px;
    margin: 0;
    padding: 7px 0 5px;
    color: #6a6a6a;
}

form {
    padding: 8px 10px;
    margin: 0;
    font-size: 27px;
    color: gray;
}

form label {
    width: 100%;
    display: inline-block;
    font-size: 28px;
}

form a {
    color: #ff4b29;
}

form p {
    margin: 0;
    padding: 8px 0 15px;
}

form .submit {
    margin-left: -5px;
    margin-top: 10px;
    background: white;
    border: none;
    color: #ff4b29;
}

form .helptext {
    color: #bcbcbc;
    display: block;
    /*margin-left: 185px;*/
}

form label {
    display: block;
}

.helptext ul {
    /*color: gray;*/
    margin: 0 20px;
    padding: 10px;
}

form textarea {
    width: 500px;
    height: 80px;
}

#contention-story {

}

.story .main-contention {
    display: none;
}



.premise .actions form {
    margin: 0 0 0 15px;
    padding: 0 0;
    float: left;
}

.premise .actions input {
    border: none;
    background-color: transparent;
    /*font-family: sans-serif;*/
    font-size: 17px;
    font-weight: normal;
    color: #fff;
}

.story .because {
    background: #bcf4b3;
}

.story .but {
    background: #f4c0aa;
}

.story .however {
   background: #fff1a4;
}

.contention {
    /*background: #d3d3d3;*/
    font-size: 50px;
    width: 100%;
}

.contention-actions {
    background: white;
    visibility: visible;
    text-align: center;
    padding-bottom: 5px;
}

.contention-actions form {
    margin: 0;
    padding: 0;
}

.story li a.button {
    border-radius: 5px;
    background: #f4f4f4;
}

.story li.new-premise {
    /*width: 1000px;*/
    /*text-align: center;*/
}

li.base-premises {
    padding: 50px 40px;
}

.sticky-header {
    width: 100%;
    margin: 0;
    background: #f4f4f4;
    z-index: 1;
    /*border-bottom: 1px solid #c5c5c5;*/
}

.sticky-header #logo img {
    height: 80px;
    /*border-right: 1px solid #c5c5c5;*/
}

.sticky-header {
    /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
}
.sticky-header nav {
    margin-top: -3px;
}

.sticky-header nav li {
    margin-top: 5px;
    font-size: 20px;
    display: block;
    color: #a0a0a0;
}

.sticky-header nav li a {
    color: #464646;
}


/* Interactive App */

#app {
    position: absolute;
    /*width: 100%;*/
}

#app canvas {
    /*background: #eeeeee;*/
    position: absolute;
    background: transparent;
    margin-bottom: 150px;
    /*left: 50%;*/
}

#app .main-contention {
    position: absolute;
    /*margin-left: 400px;*/
    font-size: 60px;
    text-align: center;
    /*width: 100%;*/
}

#app .premise {
    position: absolute;
    /*border: 1px solid black;*/
    text-align: center;
    margin-bottom: 20px;
}

#app .premise .premise-content {
    width: 80%;
    margin: auto;
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 5px;
    z-index: 1;
}

    .premise-content p {
        margin: 0;
        padding: 0;
    }

    .premise-content.but {
        background: #ffd8d5;
        /*border: 3px solid gray;*/
    }

    .premise-content.because {
        background: #c8ffb3;
        /*border: 3px solid gray;*/
    }

    .premise-content.however {
        background: #fff1a4;
        /*border: 3px solid gray;*/
    }

    .premise .premise-type {
        position: absolute;
        margin-top: -34px;
        text-align: right;
        width: 135px;
        font-size: 24px;
    }

    .premise-type.but {
        color: #d07d7d;
    }

    .premise-type.because {
        color: #85ad63;
    }

    .premise-type.however {
        color: #ffbe86;
    }

    .premise-sources {
        width: 262px;
        margin: -5px auto auto 14px;
        background: #e9e9e9;
        z-index: 1;
        /*position: absolute;*/
        border-radius: 0 0 5px 5px;
        border-top: 1px solid #bcbcbc;
    }

    .premise-sources strong {
        text-align: left;
        display: block;
        padding: 4px 10px;
        color: gray;
        /*font-size: 20px;*/
    }

    .premise-sources p {
        margin: 0;
        padding: 0 10px 10px;
        text-overflow: ellipsis;
        text-align: left;
        color: #a9a9a9;
    }

    .premise-sources a {
        color: #b5b5b5;
        width: 240px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


#app .main-premise-content {
    padding-top: 60px;
    padding-bottom: 20px;
    max-width: 800px;
    line-height: 1em;
    margin: auto;
}

#app .main-premise-content p {
    margin: 0;
    padding: 0;
}

.user-profile {
    overflow: hidden;
}


.user-profile aside {
    width: 200px;
    float: left;
    text-align: center;
}

.user-profile aside img {
    border-radius: 50%;
}

.user-profile nav {
    margin-top: 15px;
}

.user-profile nav a {
    text-decoration: none;
    display: inline-block;
    padding: 4px 20px;
    background-color: #f4ebb0;
    border-radius: 5px;
    color: #181818;
    font-size: 21px;
}

.user-profile nav a:hover {
    background-color: #464242;
    color: white;
}

.user-profile .user-detail {
    width: 500px;
    float: left;
    margin-left: 30px;
}

.container h2 {
    font-size: 30px;
    padding: 10px 0;
    margin: 0;
}

.user-profile h3 {
    font-size: 28px;
}

.user-profile .user-contentions ul {
    margin: 0 0 20px 20px;
    padding: 0;
}

.user-profile .user-contentions li {
    list-style: none;
    border-bottom: 1px solid #c1c1c1;
}

.user-profile .user-contentions li a {
    color: #525252;
    font-size: 30px;
    text-decoration: none;
}

.following  {
    margin: 0 0 0 20px;
    padding: 0 0 20px 0;
    overflow: hidden;
}

.following li {
    list-style: none;
    float: left;
    margin-right: 2px;
    margin-bottom: 2px;
}


.main-contention-actions .new-premise {
    position: absolute;
    font-size: 20px;
    margin-left: 17px;
    margin-top: -4px;
    text-decoration: underline;
    color: #505050;
}

.premise-actions {
    width: 262px;
    margin: -5px auto auto 14px;
    background: #d6d6d6;
    z-index: 1;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #bcbcbc;
    font-size: 18px;
    padding-bottom: 3px;
}

.premise-actions a {
    color: #474747;
    margin-left: 3px;
}

.premise-actions form {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.premise-actions input {
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    color: #474747;
}
.contention-admin-menu form {
    margin: -6px 0 0;
    padding: 0;
    display: inline-block;
}

.contention-admin-menu input {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    color: #474747;
}

#id_premise_type {
    margin: -10px 0 15px 20px;
    padding: 0;
}

p [for='id_premise_type_0'] {

}

ul [for='id_premise_type_0'] { color: #ff7895; }
ul [for='id_premise_type_1'] { color: #72ffa0; }
ul [for='id_premise_type_2'] { color: #ffcc64; }

#id_premise_type li label input {
    margin-right: 10px;
}

#id_premise_type li {
    list-style: none;
}

footer {
    font-size: 22px;
    margin: 50px auto auto;
    background: #ebebeb;
    color: #3d3d3d;
}

footer .container {
    margin: auto;
    padding: 20px;
}

footer p {
    margin: 0;
    padding: 5px 20px;
}

footer a {
    color: #ff167b;
}

.about {
    font-size: 20px;
    color: gray;
}

.about h2 {
    color: #2b2b2b;
}

.form-info {
    background: #f5f5f5;
    font-size: 23px;
    padding: 20px;
}

#id_parent {
    width: 600px;
    -webkit-appearance: menulist-button;
    font-family: AmericanTypewriter, Georgia, serif;
}

.tabs {
    font-size: 22px;
    overflow: hidden;
    margin: 7px;
    padding: 0;
}

.tabs li {
    margin: 0 20px 4px 20px;
    text-align: center;
    padding: 0;
    float: left;
    list-style: none;
}

.tabs li.active {
    border-bottom: 4px solid gray;
}

.tabs li a {
    color: gray;
    text-decoration: none;
}

form .contention-link {
    color: #a5a5a5;
    font-weight: normal;
}

form .parent-premise {
    color: #a5a5a5;
    padding: 5px;
}

form .parent-premise strong {
    font-weight: normal;
    color: gray;
    display: block;
}

#id_text {
    height: 200px;
}

.report-form {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-size: 17px;
}

.report-form .report {
    background: transparent;
    border: none;
    font-size: 17px;
    color: #99969a;
}

.reported_as_fallacy {
    background: #ffb6c0;
    padding: 10px 20px;
}

.reported_as_fallacy.last-node {
    border-radius: 0 0 5px 5px;
}

.search-form {
    padding: 30px;
    color: #4f4f4f;
}

.search-form input {
    width: 200px;
    font-size: 29px;
}


/* Media Queries */
@media (max-width: 800px){
  header nav ul li {
    float: left;
    margin-top: 23px;
    }
}

